{% extends '::base.html.twig' %}

{% block body %}
<!--SLIDER-->
<div class="row" id="orchard-img">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    {% for orchardImage in orchard.images %}
    <div class="fullscreen background parallax mySlides" style="padding:250px 0; background-image: url('{{ asset('/orchard/image/' ~ orchardImage.nameImage) }}'); background-attachment: fixed;"  data-diff="100"></div>
    {% endfor %}
    <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)" style="margin-left:20px;">&#10094;</a>
    <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)" style="margin-right:20px;">&#10095;</a>
  </div>
</div>


<div class="row" id="location-contact">
  <div class="spacing"></div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 container">
    <h3>{{ orchard.name }}</h3>
    <a href="#location">{{ orchard.street }}</a>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 container">
    <a href="#contact"><button type="button" name="button" id="btn-contact">{{ 'orchard.profile.contact'|trans }}</button></a>
  </div>
</div>


<div id="nav-desktop">
  <div class="spacing"></div>
  <div class="container">
    <div class="row container" id="next-activities">
      <!-- PRÓXIMAS 3 ACTIVIDADES DE CADA HUERTO (3 COLUMNAS) -->
      <h5>{{ 'orchard.profile.activities'|trans }}</h5>
      <hr class="hr-orchard-profile" align="center">

      {% for event in orchard.events|slice(0, 3) %}
      <a href="/event/show/profile/{{ event.id }}">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <!-- Imagen -->
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            {% if event.images is not empty %}
            <div class="find-result" style="background: url({{ asset('/event/image/' ~ event.images[0].nameImage) }});">
              <div style="height:50px; width:50px; background-color:lightgrey;"><strong>{{ event.startDate|date("d") }}</strong><br><strong>{{ event.startDate|date("F")|slice(0, 3) }}</strong></div>
            </div>
            {% else %}
            <div class="find-result" style="background: url(http://tratamientosparatodo.hol.es/wp-content/themes/creativemag/images/default.png);">
              <div style="height:50px; width:50px; background-color:lightgrey;"><strong>{{ event.startDate|date("d") }}</strong><br><strong>{{ event.startDate|date("F")|slice(0, 3) }}</strong></div>
            </div>
            {% endif %}
          </div>

          <!-- Texto -->
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <p><font style="font-size:20px">{{ event.title }}</font> <br><i>{{ event.orchard.name }}</i></p>
          </div>

          <input type="text" class="geometry" value="{{ event.orchard.geometry }}" hidden="hidden">
        </div>
      </a>
      {% endfor %}


      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
        <div class="border">
          {% if orchard.orchardActivity is empty %}
          <h5>{{ 'orchard.profile.noActivities'|trans }}</h5>
          {% else %}
          <h6>Actividades</h6><br><br>
          <ul>
            {% for orchardActivity in orchard.orchardActivity %}
            <li>{{ orchardActivity.name }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
  <div class="spacing"></div>


  {% if orchard.governanceModel is empty %}
  {% else %}
  <div class="row" id="philosophy">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-centered text-xs-center text-sm-center text-md-center text-lg-center text-xl-center">
      " {{ orchard.governanceModel }} "
    </div>
  </div>
  <div class="spacing"></div>
  {% endif %}


  {% if orchard.orchardType is empty %}
  {% else %}
  <div class="container">
    <div class="row row-centered" id="how-is-it">
      <h5>{{ 'orchard.profile.howIsIt'|trans }}</h5>
      <hr class="hr-orchard-profile">
      <!-- TIPO DE HUERTO -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
        <div class="border">
          <h6>{{ 'orchard.profile.type'|trans }}</h6>
          <br>
          <br>
          <ul>
            {% for orchardType in orchard.orchardType %}
            <li data-toggle="tooltip" data-placement="bottom" title="{{orchardType.description}}">{{ orchardType.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}


      <!-- EQUIPAMIENTO -->
      {% if orchard.orchardService is empty %}
      {% else %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
        <div class="border">
          <h6>{{ 'orchard.profile.equipment'|trans }}</h6>
          <br>
          <br>
          <ul>
            {% for orchardService in orchard.orchardService %}
            <li>{{ orchardService.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="spacing"></div>


  {% if orchard.orchardParticipate is empty %}
  {% else %}
  <div class="container">
    <div class="row row-centered" id="how-to-join">
      <h5>{{ 'orchard.profile.join'|trans }}</h5>
      <hr class="hr-orchard-profile">
      <!-- MODALIDADES -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
        <div class="border">
          <h6>{{ 'orchard.profile.modal'|trans }}</h6>
          <br>
          <br>
          <ul>
            {% for orchardParticipate in orchard.orchardParticipate %}
            <li>{{ orchardParticipate.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}


      <!-- NORMAS DE HUERTO -->
      {% if orchard.ruleFile is empty %}
      {% else %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
        <div class="border">
          <h6>{{ 'orchard.profile.important'|trans }}</h6>
          <br>
          <br>
          {{ 'orchard.profile.rules-1'|trans }} <a target="_blank" href="{{ asset('/orchard/file/' ~ orchard.ruleFile.nameFile) }}">{{ 'orchard.profile.rules-2'|trans }}</a> {{ 'orchard.profile.rules-3'|trans }}
        </div>
      </div>
      <div class="spacing"></div>
      {% endif %}


      <!-- PASOS PARA INSCRIBIRTE -->
      {% if orchard.orchardInscriptionStep is empty %}
      {% else %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered" style="margin-top:40px">
        <h6>{{ 'orchard.profile.inscribe'|trans }}</h6>
        <br>
        <ol>
          {% for orchardInscriptionStep in orchard.orchardInscriptionStep %}
          <li>{{ orchardInscriptionStep.text }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="spacing"></div>
      {% endif %}

    </div>
  </div>

  <!--DÓNDE SE ENCUENTRA-->
  <div class="row row-centered" id="location">
    <h5>{{ 'orchard.profile.where'|trans }}</h5>
    <hr class="hr-orchard-profile"><br>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="map-show" style="height:400px; width:100%;"></div>
      <input type="text" class="geometry" value="{{ orchard.geometry }}" hidden="hidden">
      <input type="text" id="type" value="profile" hidden="hidden">
    </div>
  </div>
  <div class="spacing"></div>



  <div class="container">
    <div class="row row-centered" id="contact">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="background-color:#f2f2f2; border-radius: 15px; padding: 40px;">
        <!-- TIENES ALGUNA PREGUNTA -->
        <h3>{{ 'orchard.profile.question'|trans }}</h3>
        <hr class="hr-orchard-profile">
        <br>
        <br>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="circular-image" width="100%">
        </div>

        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
          <h5>Contacta con {{orchard.user.username}}, coordinador/a de este huerto.</h5><br>
          <div class="text-lg-left">
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.mail}}<br>
            {% if orchard.phone is empty %}{% else %}<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.phone}}{% endif %}<br>
            {% if orchard.web is empty %}{% else %}<i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.web}}{% endif %}<br>
            {% if orchard.facebook is empty %}{% else %}<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.facebook}}{% endif %}<br>
            {% if orchard.instagram is empty %}{% else %}<i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.instagram}}{% endif %}<br>
          </div>
        </div>
      </div>
      <!-- FORMULARIO DE CONTACTO -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="container">
          <div class="form-group">
            <input type="text" class="form-control" id="user_name" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" placeholder="Dirección de correo electrónico">
            <small id="emailHelp" class="form-text text-muted">No te enviaremos spam.</small>
          </div>
          <div class="form-group">
            <select class="form-control" id="user_reason">
              <option>Hacer una consulta</option>
              {% for orchardParticipate in orchard.orchardParticipate %}
              <option>{{ orchardParticipate.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <textarea placeholder="Escribe aquí tu consulta" class="form-control" id="user_query" rows="3"></textarea>
          </div>
          <button id="btn-send-message">Enviar mensaje</button>
      </div>
      </div>
    </div>
  </div>

  <div class="spacing"></div>

</div><!--end desktop nav-->


<!--this will show only on mobile :) -->
<div id="nav-mobile">
  {% if orchard.governanceModel is empty %}
  {% else %}
  <div class="row" id="philosophy">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-centered text-xs-center text-sm-center text-md-center text-lg-center text-xl-center">
      " {{ orchard.governanceModel }} "
    </div>
  </div>
  {% endif %}


  <div class="scroller scroller-left"><i class="fa fa-chevron-left"></i></div>
  <div class="scroller scroller-right"><i class="fa fa-chevron-right"></i></div>

  <div class="wrapper">
    <ul class="nav nav-tabs list" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#actividades" role="tab" data-toggle="tab">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#como-es" role="tab" data-toggle="tab">Cómo es</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#como-unirte" role="tab" data-toggle="tab">Cómo unirte</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#localizacion" role="tab" data-toggle="tab">Localización</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#contacto" role="tab" data-toggle="tab">Contacto</a>
      </li>

    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="actividades">
      <div class="container">
        <div class="row" id="next-activities">
          <!-- PRÓXIMAS 3 ACTIVIDADES DE CADA HUERTO (3 COLUMNAS) -->
          <h5>{{ 'orchard.profile.activities'|trans }}</h5>
          <hr class="hr-orchard-profile" align="center">
          {% if orchard.orchardActivity is empty %}
          <h1>{{ 'orchard.profile.noActivities'|trans }}</h1>
          {% else %}
          {% for orchardActivity in orchard.orchardActivity %}
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h5>{{ orchardActivity.name }}</h5>
            <br>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane fade" id="como-es">
      <div class="container">
        <div class="row row-centered" id="how-is-it">
          <h5>{{ 'orchard.profile.howIsIt'|trans }}</h5>
          <hr class="hr-orchard-profile">
          <!-- TIPO DE HUERTO -->
          {% if orchard.orchardType is empty %}
          {% else %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
            <div class="border">
              <h6>{{ 'orchard.profile.type'|trans }}</h6>
              <br>
              <br>
              <ul>
                {% for orchardType in orchard.orchardType %}
                <li data-toggle="tooltip" data-placement="bottom" title="{{orchardType.description}}">{{ orchardType.name }}</li>
                {% endfor %}
              </ul>
              <div class="hidden-md-up not-visible pull-right" data-toggle="modal" data-target="#modalTipoHuerto"><i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i></div>
            </div>

          </div>
          {% endif %}


          <!-- EQUIPAMIENTO -->
          {% if orchard.orchardService is empty %}
          {% else %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
            <div class="border">
              <h6>{{ 'orchard.profile.equipment'|trans }}</h6>
              <br>
              <br>
              <ul>
                {% for orchardService in orchard.orchardService %}
                <li>{{ orchardService.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane fade" id="como-unirte">
      <div class="container">
        <div class="row row-centered" id="how-to-join">
          <h5>{{ 'orchard.profile.join'|trans }}</h5>
          <hr class="hr-orchard-profile">
          <!-- MODALIDADES -->
          {% if orchard.orchardParticipate is empty %}
          {% else %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
            <div class="border">
              <h6>{{ 'orchard.profile.modal'|trans }}</h6>
              <br>
              <br>
              <ul>
                {% for orchardParticipate in orchard.orchardParticipate %}
                <li>{{ orchardParticipate.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}


          <!-- NORMAS DE HUERTO -->
          {% if orchard.ruleFile is empty %}
          {% else %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered">
            <div class="border">
              <h6>{{ 'orchard.profile.important'|trans }}</h6>
              <br>
              <br>
              {{ 'orchard.profile.rules-1'|trans }} <a target="_blank" href="{{ asset('/orchard/file/' ~ orchard.ruleFile.nameFile) }}">{{ 'orchard.profile.rules-2'|trans }}</a> {{ 'orchard.profile.rules-3'|trans }}
            </div>
          </div>
          {% endif %}


          <!-- PASOS PARA INSCRIBIRTE -->
          {% if orchard.orchardInscriptionStep is empty %}
          {% else %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-centered" style="margin-top:40px">
            <h6>{{ 'orchard.profile.inscribe'|trans }}</h6>
            <br>
            <ol>
              {% for orchardInscriptionStep in orchard.orchardInscriptionStep %}
              <li>{{ orchardInscriptionStep.text }}</li>
              {% endfor %}
            </ol>
          </div>
          <div class="spacing"></div>
          {% endif %}
        </div>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane fade" id="localizacion">
      <div class="row row-centered" id="location">
        <h5>{{ 'orchard.profile.where'|trans }}</h5>
        <hr class="hr-orchard-profile"><br>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <input type="text" id="type" value="profile" hidden="hidden">
          <input type="text" class="geometry" value="{{ orchard.geometry }}" hidden="hidden">
          <div id="map-show-mobile" style="height:400px; width:100%;"></div>
        </div>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane fade" id="contacto">
      <div class="container">
        <div class="row row-centered" id="contact">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="background-color:#f2f2f2; border-radius: 15px; padding: 40px;">
            <!-- TIENES ALGUNA PREGUNTA -->
            <h3>{{ 'orchard.profile.question'|trans }}</h3>
            <hr class="hr-orchard-profile">
            <br>
            <br>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="circular-image" width="200px" height="200px">
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <h5>Contacta con {{orchard.user.username}}, coordinador/a de este huerto.</h5><br>
              <div class="text-lg-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.mail}}<br>
                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.phone}}<br>
                {% if orchard.web is empty %}{% else %}<i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.web}}{% endif %}<br>
                {% if orchard.facebook is empty %}{% else %}<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.facebook}}{% endif %}<br>
                {% if orchard.instagram is empty %}{% else %}<i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{orchard.instagram}}{% endif %}<br>
              </div>
            </div>
          </div>
          <!-- FORMULARIO DE CONTACTO -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--modal-->
<div class="modal fade" id="modalTipoHuerto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!--mostrar tipos + descripciones-->
        <ul>
          {% for orchardType in orchard.orchardType %}
          <li>
            <b>{{ orchardType.name }}</b>:<br>
            <span>{{ orchardType.description }}</span>
          </li>

          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contactModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'stepBase.email-1'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'stepBase.email-2'|trans }}<p>&#x1f609</p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'stepBase.close'|trans }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{{ asset('/js/map_show.js')}}" charset="utf-8"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

</script>

<script type="text/javascript">
var hidWidth;
var scrollBarWidths = 40;

var widthOfList = function(){
  var itemsWidth = 0;
  $('.list li').each(function(){
    var itemWidth = $(this).outerWidth();
    itemsWidth+=itemWidth;
  });
  return itemsWidth;
};

var widthOfHidden = function(){
  return (($('.wrapper').outerWidth())-widthOfList()-getLeftPosi())-scrollBarWidths;
};

var getLeftPosi = function(){
  return $('.list').position().left;
};

var reAdjust = function(){
  if (($('.wrapper').outerWidth()) < widthOfList()) {
    $('.scroller-right').show();
  }
  else {
    $('.scroller-right').hide();
  }

  if (getLeftPosi()<0) {
    $('.scroller-left').show();
  }
  else {
    $('.item').animate({left:"-="+getLeftPosi()+"px"},'slow');
    $('.scroller-left').hide();
  }
}

reAdjust();

$(window).on('resize',function(e){
  reAdjust();
});

$('.scroller-right').click(function() {

  $('.scroller-left').fadeIn('slow');
  $('.scroller-right').fadeOut('slow');

  $('.list').animate({left:"+="+widthOfHidden()+"px"},'slow',function(){

  });
});

$('.scroller-left').click(function() {

  $('.scroller-right').fadeIn('slow');
  $('.scroller-left').fadeOut('slow');

  $('.list').animate({left:"-="+getLeftPosi()+"px"},'slow',function(){

  });
});

$('#btn-send-message').on('click', function() {
console.log('Enviando consulta');
    $.ajax({
      type: 'POST',
      url: '/orchard/suggest/profile/' + $('#user_name').val() + '/' + $('#user_email').val() + '/' + $( "#user_reason option:selected" ).text() + '/' + $('#user_query').val() + '/{{ orchard.id }}',
      success: function(data) {
        $('#contactModal').modal('show');
      },
      error: function(jqXHR, exception) {
        if (jqXHR.status === 0) {
          alert('Not connect.\n Verify Network.');
        } else if (jqXHR.status == 404) {
          alert('Requested page not found. [404]');
        } else if (jqXHR.status == 500) {
          alert('Internal Server Error [500].');
        } else if (exception === 'parsererror') {
          alert('Requested JSON parse failed.');
        } else if (exception === 'timeout') {
          alert('Time out error.');
        } else if (exception === 'abort') {
          alert('Ajax request aborted.');
        } else {
          alert('Uncaught Error.\n' + jqXHR.responseText);
        }
        console.log('error');
      }
    });
  });
</script>
{% endblock %}
