<html>
<body>
  <h1>Hola {{ orchardUserName }}!<h1>
  <label>{{ userName }} ha realizado la siguiente consulta: {{ query }} </label>
  <span>Con motivo: {{ reason }}<span>
  <label>Puedes contestarle en {{ email }}</label>

</body>
</html>
