<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title>{% block title %}huertOn{% endblock %}</title>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Awesome font -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" charset="utf-8"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.js"></script>

  <!-- Load geocoding plugin after Leaflet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.3/leaflet.draw.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.3/leaflet.draw.css">

  <link rel="stylesheet" href="{{ asset('/css/style.css') }}">


  <!--form rrss-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/css/demo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/css/set2.css') }}" />

  {% block stylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="add_margin">

  <!-- NAV BAR DESKTOP -->
  <nav id="nav-desktop" class="navbar navbar-light bg-faded navbar-fixed-top" style="padding-left: 80px; padding-right: 80px;">
    <ul class="nav navbar-nav">
      <div class="row">
        <div class="col-lg-5">
          <li class="nav-item float-lg-left float-xl-left">
            <a class="nav-link" href="/orchard/create/steps">{{ 'base.li-1'|trans }}</a>
          </li>
          <li class="nav-item float-lg-left float-xl-left">
            <a class="nav-link" href="#">{{ 'base.li-2'|trans }}</a>
          </li>
        </div>
        <div class="col-lg-2">
          <li class="nav-item float-lg-left float-xl-left">
            <a href="/{{ app.request.getLocale() }}" id="logo-desktop">
              <img src="{{ asset('/img/logo.png') }}" height="30" class="d-inline-block align-top" alt="" style="margin-top:10px;">
            </a>
          </li>
        </div>
        <div class="col-lg-5">
          {% if app.user %}
          <li class="nav-item dropdown float-lg-right float-xl-right">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'base.li-3'|trans }} {{ app.user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">{{ 'base.li-4'|trans }}</a>
              <a class="dropdown-item" href="/orchard/create/list">{{ 'base.li-5'|trans }}</a>
              <a class="dropdown-item" href="/event/create/list">Lista de eventos</a>
              <a class="dropdown-item" href="/logout">{{ 'base.li-6'|trans }}</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item float-lg-right float-xl-right">
            <a href="/register"><button id="register-button" type="button" class="btn btn-outline-primary">{{ 'base.li-7'|trans }}</button></a>
          </li>
          <li class="nav-item float-lg-right float-xl-right">
            <a class="nav-link" href="/login">{{ 'base.li-8'|trans }}</a>
          </li>
          {% endif %}
        </div>
      </div>
    </ul>
  </nav>


  <!-- NAV BAR MOBILE -->
  <nav id="nav-mobile" class="navbar navbar-light bg-faded navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header row">
        <div class="col-xs-6 col-sm-6 navbar-toggle" style="margin-top: 10px;" aria-hidden="true" data-toggle="collapse" data-target="#myNavbar">
          <a class="navbar-brand"><img src="{{asset('/img/logo2.png')}}" alt="" height="50px;"></a>
          <i class="fa fa-angle-down fa-2x"></i>
        </div>

        <div class="col-xs-6 col-sm-6 pull-left">
          {% if app.user %}
          <div class="nav-item dropdown float-lg-right float-xl-right">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'base.li-3'|trans }} {{ app.user.username }}
            </a>
            <div class="dropdown-menu col-xs-12 col-sm-12" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">{{ 'base.li-4'|trans }}</a>
              <a class="dropdown-item" href="/orchard/create/list">{{ 'base.li-5'|trans }}</a>
              <a class="dropdown-item" href="/event/create/list">Lista de eventos</a>
              <a class="dropdown-item" href="/logout">{{ 'base.li-6'|trans }}</a>
            </div>
          </div>
          {% else %}
          <div class="nav-item float-xs-right float-sm-right">
            <a class="nav-link" href="/login" style="margin-bottom:10px; align:right; color:black;">{{ 'base.li-8'|trans }}</a>
            <a href="/register"><button id="register-button" type="button" class="btn btn-outline-primary">{{ 'base.li-7'|trans }}</button></a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="collapse navbar-collapse row" id="myNavbar">
        <div class="submenu-items">
          <a href="/ {{ app.request.getLocale() }}" id="logo-mobile">{{ 'base.li-9'|trans }}</a>
        </div>
        <div class="submenu-items">
          <a href="/orchard/create/steps">{{ 'base.li-1'|trans }}</a>
        </div>
        <div class="submenu-items">
          <a href="#">{{ 'base.li-2'|trans }}</a>
        </div>

      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}


  {% block footer %}
  {% endblock %}


  {% block javascripts %}{% endblock %}

  <script type="text/javascript">

  navigator.geolocation.getCurrentPosition(success, error, options);

  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  function success(pos) {
    var crd = pos.coords;

    var user_latitude = crd.latitude;
    var user_longitude = crd.longitude;

    console.log('Your current position is:');
    console.log('Latitude : ' + crd.latitude);
    console.log('Longitude: ' + crd.longitude);
    console.log('More or less ' + crd.accuracy + ' meters.');

    $('#user_latitude').val(user_latitude);
    $('#user_longitude').val(user_longitude);

  };

  function error(err) {
    console.warn('ERROR(' + err.code + '): ' + err.message);
  };

  function lenguage(len) {
    window.location.href = '/'+len;
  }

  </script>
</body>
</html>
