<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title>{% block title %}Parcelles{% endblock %}</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!--Fksjdahfkjlasdhflksjadhflkjsadfhflkjsdhaflkjashdf-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" charset="utf-8"></script>
  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.js"></script>

  <!-- Load geocoding plugin after Leaflet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.7.1/leaflet-geocoder-mapzen.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.3/leaflet.draw.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.3/leaflet.draw.css">

  <link rel="stylesheet" href="{{ asset('/css/style.css') }}">


  <!--form rrss-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/css/demo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/css/set2.css') }}" />

  {% block stylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">
      <img src="{{ asset('/img/logo.png')}}" height="30" class="d-inline-block align-top" alt="">
    </a>
    <ul id="btn-save-exit" class="nav navbar-nav float-xs-right float-sm-right float-md-right float-lg-right">
      <li class="nav-item">
        <div id="loading" style="display: none;" class="loading"></div>
      </li>
      <li class="nav-item">
        <span id="loading-text" style="display: none;" class="navbar-text">
          Guardando...
        </span>
      </li>
      {% if orchard.step >= 14 %}
      <li class="nav-item">
        <a class="nav-link" href="#">Guardar y salir</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <progress id="progressbar" class="progress" max="100" aria-describedby="example-caption-2"></progress>

  <div class="container-fluid">

    {% block body %}{% endblock %}

  </div>

  <script type="text/javascript">

  if($('.required').length === 0) {
    $("#btn-siguiente").html('Ahora no');
  }

  window.onbeforeunload = function() {
    localStorage.setItem('lastProgress', $('#progressbar').val());
  }

  $('form :input:not(:checkbox):not(:button)').focusin(function() {
    var este = $(this).attr('id');
    var inputs = $('.required');
    inputs.each(function(index) {
      if(este == $(this).attr('id')) {
        return false;
      }else {
        if($(this).val() == '') {
          $(this).prev().prev().tooltip('show');
          $(this).css('border-color', '#ff0000');
        }
      }
    });
  });

  </script>

  {% block javascripts %}

  <script type="text/javascript">
  //FUNCION BOTON SIGUIENTE
  $('#btn-siguiente').on('click', function() {

    if(validateForm()) {
      var form =  {};
      initSave(form);

      $.ajax({
        type: 'POST',
        url: '/orchard/create/insert/{{ orchard.id }}',
        data: form,
        success: function(data) {
          saveAnimation();
          console.log('success');
          window.location.href = '/orchard/create/step/' + data.redirect + '/{{ orchard.id }}';
        },
        error: function(jqXHR, exception) {
          saveAnimation();
          if (jqXHR.status === 0) {
            alert('Not connect.\n Verify Network.');
          } else if (jqXHR.status == 404) {
            alert('Requested page not found. [404]');
          } else if (jqXHR.status == 500) {
            alert('Internal Server Error [500].');
          } else if (exception === 'parsererror') {
            alert('Requested JSON parse failed.');
          } else if (exception === 'timeout') {
            alert('Time out error.');
          } else if (exception === 'abort') {
            alert('Ajax request aborted.');
          } else {
            alert('Uncaught Error.\n' + jqXHR.responseText);
          }
          console.log('error');
        }
      });

      return false;
    }

  });

  //FUNCION BOTON ATRAS
  $('#btn-atras').on('click', function() {
    var form =  {};
    initSave(form);

    $.ajax({
      type: 'POST',
      dataType: 'json',
      url: '/orchard/create/insert/{{ orchard.id }}',
      data: form,
      success: function() {
        saveAnimation();
        if($('#Step').val() == '12' || $('#Step').val() == '22') {
          window.location.href = '/orchard/create/steps/{{ orchard.id }}'
        }else if ($('#Step').val() == '21' || $('#Step').val() == '31') {
          var step = parseInt($('#Step').val()) - 8;
          window.location.href = '/orchard/create/step/' + step.toString() + '/{{ orchard.id }}';
        }else {
          var step = parseInt($('#Step').val()) - 2;
          window.location.href = '/orchard/create/step/' + step.toString() + '/{{ orchard.id }}';
        }
      }
    });
  });

  //FUNCION BOTON GUARDAR Y SALIR
  $('#btn-save-exit').on('click', function() {

    if(validateForm()) {
      var form =  {};
      initSave(form);

      $.ajax({
        type: 'POST',
        url: '/orchard/create/insert/{{ orchard.id }}',
        data: form,
        success: function(data) {
          saveAnimation();
          console.log('success');
          window.location.href = '/orchard/create/steps/{{ orchard.id }}';
        },
        error: function(jqXHR, exception) {
          saveAnimation();
          if (jqXHR.status === 0) {
            alert('Not connect.\n Verify Network.');
          } else if (jqXHR.status == 404) {
            alert('Requested page not found. [404]');
          } else if (jqXHR.status == 500) {
            alert('Internal Server Error [500].');
          } else if (exception === 'parsererror') {
            alert('Requested JSON parse failed.');
          } else if (exception === 'timeout') {
            alert('Time out error.');
          } else if (exception === 'abort') {
            alert('Ajax request aborted.');
          } else {
            alert('Uncaught Error.\n' + jqXHR.responseText);
          }
          console.log('error');
        }
      });

      return false;
    }

  });

  function validateForm() {
    var valid = true;
    $('.required').each(function() {
      if($(this).val() == '') {
        $(this).prev().prev().tooltip('show');
        $(this).css('border-color', '#ff0000');
        valid = false;
      }
    });

    return valid;
  }

  function initSave(form) {
    $("#loading, #loading-text").fadeIn("slow");
    $("form :input:not(:checkbox):not(:button)").each(function(){
      form[$(this).attr('id')] = $(this).val();
    });
  }

  function saveAnimation() {
    $("#loading, #loading-text").fadeOut("slow", function() {
      $("#loading-text").text("Guardado").fadeIn('slow');
    });
  }

  </script>

{% endblock %}

</body>
</html>
