{% extends '::base.html.twig' %}

{% block body %}
<!--huertos / eventos-->
  <div class="row row-centered">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-centered" style="background-color:#ECEEEF;">
      <div class="container jumbotron">
        <div class="row row-centered">
          <div class="col col-centered">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a  href="/find/orchard"><button type="button" class="btn save-button active" style="padding:10px 40px;">Huertos</button></a>
              </li>
              <li class="nav-item">
                <a  href="/find/orchard"><button type="button" class="btn save-button" style="padding:10px 40px;">Actividades</button></a>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <form id="form-home_search" action="/find/event" method="post">
          <input id="input-home_search" name="input-home_search" type="text" value="{{ input_home_search }}" placeholder="{{ 'home.find.placeholder'|trans }}"><button id="btn-home_search" class="button" type="submit">{{ 'home.btn.search'|trans }}</button>
          <input id="user_latitude" name="user_latitude" type="text" hidden="hidden">
          <input id="user_longitude" name="user_longitude" type="text" hidden="hidden">
        </form>
        <p style="margin-top:30px;">{{ 'find.results-1'|trans }} {{ events|length }} {{ 'find.results-2'|trans }}</p>
      </div>
    </div>
    <div class="spacing"></div>
  </div>




<input id="type" type="text" value="find" hidden="hidden">

<div class="row">
  <!--RESULTADOS-->
  <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
    <div class="left-scroll">
      {% if type == 'distance' %}<!-- SI SE TIENE LA UBUCACION DEL USUARIO -->
      {% for event in events %}
      <a href="/event/show/profile/{{ event.0.id }}{% if input_home_search != '' %}/{{ input_home_search }}{% endif %}">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <!-- Imagen -->
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            {% if event.0.imageName is not empty %}
            <div class="find-result" style="background: url({{ asset('/orchard/event/' ~ event.0.imageName) }});">
              <div style="height:50px; width:50px; background-color:lightgrey; text-align:center;"><strong>{{ event.0.startDate|date("d") }}</strong><br><strong>{{ event.0.startDate|date("F")|slice(0, 3) }}</strong></div>
            </div>
            {% else %}
            <div class="find-result" style="background: url(http://tratamientosparatodo.hol.es/wp-content/themes/creativemag/images/default.png);">
              <div style="height:50px; width:50px; background-color:lightgrey; text-align:center;"><strong>{{ event.0.startDate|date("d") }}</strong><br><strong>{{ event.0.startDate|date("F")|slice(0, 3) }}</strong></div>
            </div>
            {% endif %}
          </div>

          <!-- Texto -->
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <p><font style="font-size:20px">{{ event.0.title }}</font><br><strong>{% if event.0.price == 0 %}Gratis{% else %}{{ event.0.price }}€{% endif %}</strong>&nbsp;&nbsp;<i>{{ event.0.orchard.name }}</i></p>
          </div>

          <input type="text" class="geometry" value="{{ event.0.orchard.geometry }}" hidden="hidden">
        </div>
      </a>
      {% endfor %}

      {% else %}<!-- SI NO SE TIENE LA UBICACION DEL USUARIO -->
      {% for event in events %}

      <a href="/event/show/profile/{{ event.id }}{% if input_home_search != '' %}/{{ input_home_search }}{% endif %}">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <!-- Imagen -->
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            {% if event.imageName is not empty %}
            <div class="find-result" style="background: url({{ asset('/orchard/event/' ~ event.imageName) }});">
              <div style="height:50px; width:50px; background-color:lightgrey; text-align:center;"><strong>{{ event.startDate|date("d") }}</strong><br><strong>{{ event.startDate|date("F")|slice(0, 3) }}</strong></div>
            </div>
            {% else %}
            <div class="find-result" style="background: url(http://tratamientosparatodo.hol.es/wp-content/themes/creativemag/images/default.png);">
              <div style="height:50px; width:50px; background-color:lightgrey; text-align:center;"><strong>{{ event.startDate|date("d") }}</strong><br><strong>{{ event.startDate|date("F")|slice(0, 3) }}</strong></div>
            </div>
            {% endif %}
          </div>

          <!-- Texto -->
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <p><font style="font-size:20px">{{ event.title }}</font><br><strong>{% if event.price == 0 %}Gratis{% else %}{{ event.price }}€{% endif %}</strong>&nbsp;&nbsp;<i>{{ event.orchard.name }}</i></p>
          </div>

          <input type="text" class="geometry" value="{{ event.orchard.geometry }}" hidden="hidden">
        </div>
      </a>
      {% endfor %}

      {% endif %}
    </div>
  </div>

  <!--MAPA-->
  {% if events is not empty %}
  <div class="map col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div id="map-show" class="map-show" style="height: 63vh;"></div>
  </div>
  {% endif %}

</div>

<script>
$( "div.left-scroll" ).scrollLeft( 300 );

</script>
<script src="{{ asset('/js/map_show.js') }}"></script>
{% endblock %}
