
<link rel="stylesheet" type="text/css" href="{{ asset('/css/login.css') }}" />

<div class="container">
  <div class="spacing"></div>

  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-centered">
    <div class="spacing"></div>

    {% trans_default_domain 'messages' %}

    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <h4 style="text-align: center">{{ 'user.login.title'|trans }}</h4>

    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'user.register.type.email'|trans }}" required="required" />

    <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'user.register.type.passwd'|trans }}"/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'user.login.remember'|trans }}</label>
<br>
    <button type="submit" id="_submit" class="btn btn-primary" name="_submit">{{ 'user.login.login'|trans }}</button>

    <p>{{ 'user.login.create'|trans }} <a href="/register">{{ 'user.login.register'|trans }}</a>
<br>
      <a href="/resetting/request">{{ 'user.login.forget'|trans }}</a>
    </form>

    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-block btn-social btn-facebook">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>

    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Sign in with Google
    </a>

  </div>
</div>
