{% extends '::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/event.css')}}">
{% endblock %}

{% block body %}
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <h1 id="title">{{event.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 ">
      {% if event.imageName != null %}
          <img id="profileImg" class="img-response" src="{{ asset('orchard/event/') }}{{event.imageName}}" alt="">
      {% else %}
          <img id="profileImg" class="img-response" src="" alt="">
      {% endif %}

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 ">
      <h2>Fecha y hora</h2>
      <p> <strong>De :</strong> {{event.startDate|date('d-m-y h:m')}}</p>
      <p> <strong>A :</strong> {{event.endDate|date('d-m-y h:m')}}</p>
      <h2>Ubicación y organizador</h2>
      <p>null</p>
      <h2>Precio</h2>
      {% if event.price == 0 %}
        <p>Gratis</p>
      {% else %}
        <p>{{event.price}} €</p>
      {% endif %}
      {% if event.showPlaces == true %}
        <h2>Plazas</h2>
        <p>{{event.places}}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 spacing">
      <h2>Descripción</h2>
      <p>{{event.description}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <a href="#"><button type="button" class="btn" name="button">Únete</button></a>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <p>¿ Tienes dudas ?  <a href="#">Contacta</a></p>
      </div>
    </div>
  </div>
</div>





{% endblock %}
