{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row steps">
  <div class="col-xs-12 col-md-5 col-lg-5 steps-left">
    {% if userName is defined and userName != '' %}
      <h1 class="display-4">¡Hola {{ userName }}!</h1>
    {% endif %}
    <small>Haz que más personas conozcan tu huerto</small>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h4>Paso 1</h4>
        {% if step is defined and step > 19 %}<!--todos los pasos del 1 completados-->
          <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        {% endif %}
        <p><small>Diles lo esencial (dónde está...)</small></p>
        {% if step is defined %}
          {% if step > 0 %}
            <a href="/orchard/step/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Cambiar</button></a>
          {% elseif step == 0 %}
            <a href="/orchard/step"><button type="button" class="btn btn-primary btn-steps ">Empezar</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h4>Paso 2</h4>
        {% if step is defined and step > 29 %}<!--todos los pasos del 2 completados-->
          <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        {% endif %}
        <p><small>¿Qué pueden encontrar allí? (fotos, servicios...)</small></p>
        {% if step is defined and step > 20 %}
          {% if step > 29 %}
            <a href="/orchard/step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Cambiar</button></a>
          {% else %}
          <a href="/orchard/step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Empezar</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h4>Paso 3</h4>
        {% if step is defined and step > 39 %}<!--todos los pasos del 3 completados-->
          <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        {% endif %}
        <p><small>Cuéntanos algo más especial de tu huerto</small></p>
        {% if step is defined and step >30 %}
        {% if step > 39 %}
          <a href="/orchard/step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Cambiar</button></a>
        {% else %}
          <a href="step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Empezar</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="steps-right col-md-7 col-lg-7">
    <div class="steps-right-text">
    <h2 class="display-3">Muchos urbanitas sólo conocen 1 o 2 huertos en tu ciudad y alrededores</h2>
    <h1 class="display-4">¡Descúbreles el tuyo!</h1>
  </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

  $('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 25 + '%','aria-valuenow': 25}, {duration: 400, easing: 'linear'});

  $("#btn-save-exit").css("display", "none");
</script>

{% endblock %}
