{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row steps">
  <div class="col-xs-12 col-md-5 col-lg-5 steps-left">
    {% if userName is defined and userName != '' %}
      <h1 class="display-4">¡Hola {{ userName }}!</h1>
    {% endif %}
    <h6>Haz que más personas conozcan tu huerto</h6>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h6>Paso 1</h6>
        {% if step is defined and step > 19 %}<!--todos los pasos del 1 completados-->
          <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        {% endif %}
        <h5>Diles lo esencial (dónde está...)</h5>
        {% if step is defined %}
          {% if step > 15 %}
            <a href="/orchard/step/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Cambiar</button></a>
          {% elseif step == 0 %}
            <a href="/orchard/step"><button type="button" class="btn btn-primary btn-steps ">Empezar</button></a>
            {% else %}
              <a href="/orchard/step/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Seguir</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h6>Paso 2</h6>
        {% if step is defined and step > 29 %}<!--todos los pasos del 2 completados-->
          <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        {% endif %}
        <h5 class="stepNone" id="paso2">¿Qué pueden encontrar allí? (fotos, servicios...)</h5>
        {% if step is defined and step > 20 %}
          {% if step > 29 %}
            <a href="/orchard/step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Cambiar</button></a>
          {% elseif step == 21 %}
          <a href="/orchard/step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Empezar</button></a>
          {% else %}
            <a href="/orchard/step/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Seguir</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 steps-left">
        <h6>Paso 3</h6>
        {% if step is defined and step > 39 %}<!--todos los pasos del 3 completados-->
          <i class="fa fa-check fa-2x" aria-hidden="true"></i>
        {% endif %}
        <h5 class="stepNone" id="paso3">Cuéntanos algo más especial de tu huerto</h5>
        {% if step is defined and step > 30 %}
          {% if step > 39 %}
            <a href="/orchard/step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Cambiar</button></a>
          {% elseif step == 31 %}
            <a href="step/{{idOrchard}}/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Empezar</button></a>
            {% else %}
              <a href="/orchard/step/{{step}}"><button type="button" class="btn btn-primary btn-steps ">Seguir</button></a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="steps-right col-md-7 col-lg-7">
    <div class="steps-right-text">
    <h2 class="display-3">Muchos urbanitas sólo conocen 1 o 2 huertos en tu ciudad y alrededores</h2>
    <h1 class="display-4">¡Descúbreles el tuyo!</h1>
  </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

  $('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 0 + '%','aria-valuenow': 0}, {duration: 400, easing: 'linear'});

  $("#btn-save-exit").css("display", "none");

  var step = {{ step }};

  console.log(step);

    if (step > 20) {
      $("#paso2").removeClass('stepNone');
    }if (step >= 30) {
        $("#paso3").removeClass('stepNone');
    }

</script>

{% endblock %}
