{% set id_orchard=orchard.id %}
{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>¿Qué tipo de huerto es?</h4></label><br>

				<div class="row">
					{% for orchardType in orchardTypes %}
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<span class="custom-control-indicator"></span>

								<div class="text-right">
									<span class="custom-control-description type-name">{{ orchardType.name }}</span>
									<span class="type-description" style="display: none;">{{ orchardType.description }}</span>
								</div>

							</label>
						</div>
					{% endfor %}
				</div>

				<br>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label class="custom-control custom-checkbox">
							<input id="cb-new-type" type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Sugiérenos un tipo de huerto</span>
						</label>
						<input type="text" class="form-control" id="Type" placeholder="Escribe aquí el tipo de tu huerto" hidden>

						<br>
						<button id="btn-enviar" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6" hidden>Enviar</button>
					</div>
				</div>
				<br><br>


				<div class="hidden-md-up not-visible pull-right" data-toggle="modal" data-target="#modalDescripciones"><i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i></div>


			</div>

			<input type="text" id="Step" hidden="hidden" value="14">
      <span id="required-hidden-input" class="required" hidden="hidden"></span>

		</form>

	</div>

	<!--pantalla de la derecha -->
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right" style="padding: 150px;">
		<h4 id="show-type">Tipo de huerto</h4> <br><br>
		<h5 id="show-description">Situa el puntero sobre cualquier tipo de huerto para mostrar más información de cada uno.</h5><br>
	</div>

</div>


<!--modal-->
<div class="modal fade" id="modalDescripciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<!--mostrar tipos + descripciones-->
				<ul>
				{% for orchardType in orchardTypes %}
						<li>
							<b>{{ orchardType.name }}</b>:<br>
							<span>{{ orchardType.description }}</span>
						</li>

				{% endfor %}
			</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Muchas gracias!</h4>
			</div>
			<div class="modal-body">
				<p>Cuando estudiemos tu sugerencia te enviaremos un email con el resultado. <p>&#x1f609</p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}


{% block javascripts %}
<script type="text/javascript">

$(function () {
	$('#btn-siguiente').attr('data-toggle', 'popover').attr('title', 'Paso obligatorio').attr('data-content', 'Por favor, selecciona un tipo de huerto').attr('data-placement', 'top');
	$('[data-toggle="popover"]').popover();
})

$(':checkbox:not(#cb-new-type)').change(function() {
	var checkeado = false;
    if(this.checked) {
				$('#btn-siguiente').popover('disable')
				$('#required-hidden-input').remove();
    }else {
			if($(':checkbox').each(function() {
				if(this.checked) {
					checkeado = true;
				}
			}));

			if(!checkeado) {
				$('#btn-siguiente').popover('enable');
				$('<span id="required-hidden-input" class="required" hidden="hidden"></span>').appendTo('body');
			}
		}
});

$(document).ready(function () {

	$('#cb-new-type').click(function() {
		this.checked ? $('#Type').removeAttr('hidden') : $('#Type').attr('hidden', 'hidden');
		this.checked ? $('#btn-enviar').removeAttr('hidden') : $('#btn-enviar').attr('hidden', 'hidden');
	});

//borramos los handlers del onclick para evitar que se clike varias veces
//añade gestion de AJAX al boton enviar al entrar a la pagina por si el campo tipo ya estaba rellenado anteriormente
	$('#btn-enviar').off('click');
	$('#btn-enviar').on('click', function() {
		if($('#Type').val()) {
			$.ajax({
				type: 'POST',
				url: '/orchard/suggest/send/{{id_orchard}}/'+$('#Type').val(),
				data: form,
				success: function(data) {
					console.log('success');
					$('#myModal').modal('show');
				},
				error: function(jqXHR, exception) {
					if (jqXHR.status === 0) {
						alert('Not connect.\n Verify Network.');
					} else if (jqXHR.status == 404) {
						alert('Requested page not found. [404]');
					} else if (jqXHR.status == 500) {
						alert('Internal Server Error [500].');
					} else if (exception === 'parsererror') {
						alert('Requested JSON parse failed.');
					} else if (exception === 'timeout') {
						alert('Time out error.');
					} else if (exception === 'abort') {
						alert('Ajax request aborted.');
					} else {
						alert('Uncaught Error.\n' + jqXHR.responseText);
					}
					console.log('error');
				}
			});
		}
		return false;
	});

	//borramos los handlers del onclick para evitar que se clike varias veces
	//añade gestion de AJAX al boton enviar cada vez que se escriba en el campo de tipo
	$('#Type').keyup(function() {
		$('#btn-enviar').off('click');
		$('#btn-enviar').on('click', function() {
			if($('#Type').val()) {
				$.ajax({
					type: 'POST',
					url: '/orchard/suggest/send/'+$('#Type').val(),
					data: form,
					success: function(data) {
						console.log('success');
						$('#myModal').modal('show');
					},
					error: function(jqXHR, exception) {
						if (jqXHR.status === 0) {
							alert('Not connect.\n Verify Network.');
						} else if (jqXHR.status == 404) {
							alert('Requested page not found. [404]');
						} else if (jqXHR.status == 500) {
							alert('Internal Server Error [500].');
						} else if (exception === 'parsererror') {
							alert('Requested JSON parse failed.');
						} else if (exception === 'timeout') {
							alert('Time out error.');
						} else if (exception === 'abort') {
							alert('Ajax request aborted.');
						} else {
							alert('Uncaught Error.\n' + jqXHR.responseText);
						}
						console.log('error');
					}
				});
			}
			return false;
		});
	});

	//MOSTRAR TEXTO A LA DERECHA
	$('span.type-name').hover(function() {
		$("#show-type").html($(this).text());
		$('#show-description').html($(this).next().text());
	}, function(){
			$("#show-type").html("Tipo de huerto");
			$("#show-description").html("Situa el puntero sobre cualquier tipo de huerto para mostrar más información de cada uno.");
  });

	$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 75 + '%','aria-valuenow': 75}, {duration: 400, easing: 'linear'});
});
</script>
{% endblock %}
