{% extends '::base.html.twig' %}

{% block body %}

<div class="parallax" style="background-image: url('https://source.unsplash.com/rHbob_bEsSs/1600x900&quot'); background-attachment: fixed; height:70vh;" data-img-width="1600" data-img-height="1064" data-diff="100">
  <div class="content-a">
    <div class="content-b">
      <span id="title-home_search">SÓLO 10 MIN PARA DAR A CONOCER TU HUERTO</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="spacing"></div>
  <h3>3 PASOS PARA SUBIR TU HUERTO</h3>
</div>

  <div class="spacing"></div>

<div class="container-fluid how">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <div class="numberCircle"><span>1</span></div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
          <h6>Lo básico que necesita saber el futuro hortelano (dirección, datos, contacto…)</h6>
          <br>
          <small>Consejo: Sube alguno foto para que vean tu proyecto real y cercano.</small>
        </div>
      </div>
      <div class="spacing-mobile"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <img width="auto" height="200" src="{{ asset('/img/how1.png') }}" alt="">
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <div class="numberCircle"><span>2</span></div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
          <h6>Cómo pueden participar y qué tiene que saber antes</h6>
          <br>
          <small>Consejo: Saber qué formas de participar tenéis, las normas o cómo inscribirte es indispensable para acercarse a tu proyecto. </small>
        </div>
      </div>
      <div class="spacing-mobile"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <img width="auto" height="200" src="{{ asset('/img/how2.png') }}" alt="">
    </div>
  </div>
  <div class="spacing"></div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <div class="numberCircle"><span>3</span></div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
          <h6>Un poco más sobre tu proyecto</h6>
          <br>
          <small>Consejo: Cuenta cómo y por qué empezasteis. Estos detalles pueden conectar mucho con las personas</small>
        </div>
      </div>
      <div class="spacing-mobile"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <img width="auto" height="200" src="{{ asset('/img/how3.png') }}" alt="">
    </div>
  </div>
  </div>
  <div class="spacing"></div>
  <div id="event" class="container">
    <h3>¡Y NO TE OLVIDES DE LAS ACTIVIDADES!</h3>
  </div>
  <div class="spacing"></div>

  <div class="container-fluid how">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <img width="auto" height="200" src="{{ asset('/img/how4.png') }}" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
            <h6>Crea tu actividad con toda la info que necesitan y necesitas (nº plazas, ubicación…)</h6>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <div class="numberCircle"><span>1</span></div>
          </div>
        </div>
        <div class="spacing-mobile"></div>
      </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <img width="auto" height="200" src="{{ asset('/img/how5.png') }}" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
            <h6>Pónselo muy fácil para que se apunte a tus eventos y talleres.</h6>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <div class="numberCircle"><span>2</span></div>
          </div>
        </div>
        <div class="spacing-mobile"></div>
      </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <img width="auto" height="200" src="{{ asset('/img/how3.png') }}" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
            <h6>Gestiona de forma muy rápida los inscritos a una actividad</h6>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <div class="numberCircle"><span>3</span></div>
          </div>
        </div>
        <div class="spacing-mobile"></div>
      </div>
    </div>
    </div>
    <div class="spacing"></div>

  <div class="jumbotron" style="background-color: #ECEEEF; margin-bottom: 0px;">
    <div class="container">
      <div class="row-centered">
        <a href="http://localhost:8000/orchard/create/steps">
          <div class="col-centered">
          <button class="btn save-button btn-siguiente">Publica tu huerto</button>
          </div>
        </a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <!--IDIOMA
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 foot">
          <h6>Idioma</h6>
          <hr>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'language'|trans }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/es">{{ 'language.es'|trans }}</a>
              <a class="dropdown-item" href="/en">{{ 'language.en'|trans }}</a>
              <a class="dropdown-item" href="/ca">{{ 'language.ca'|trans }}</a>
            </div>
          </div>
        </div>
        

        <div class="footer-desktop">
          <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 foot">
            <h6>{{ 'footer.why'|trans }}</h6>
            <hr>
            <a href="/why"><p>{{ 'footer.why1'|trans }}</p></a>
            <a href="/why#publish"><p>{{ 'footer.why2'|trans }}</p></a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 foot">
            <h6>{{ 'footer.how'|trans }}</h6>
            <hr>
            <a href="/how"><p>{{ 'footer.how1'|trans }}</p></a>
            <a href="/how#event"><p>{{ 'footer.how2'|trans }}</p></a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 foot">
            <h6>{{ 'footer.contact'|trans }}</h6>
            <hr>
            <a href="#"><p>{{ 'footer.contact1'|trans }}</p></a>
            <a href="#"><p>{{ 'footer.contact2'|trans }}</p></a>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 foot-down footer-desktop">
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <img src="{{ asset('/img/logo.png') }}" height="30" class="d-inline-block align-top" alt="" style="margin-top:10px;">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 foot-down-txt">
            <p style="color: black;">Research & service design by YADEMÁS</p>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 foot-down-txt">
            <p><a href="#">{{ 'footer.legal'|trans }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script type="text/javascript">

/* detect touch */
if("ontouchstart" in window){
  document.documentElement.className = document.documentElement.className + " touch";
}
if(!$("html").hasClass("touch")){
  /* background fix */
  $(".parallax").css("background-attachment", "fixed");
}

/* fix vertical when not overflow
call fullscreenFix() if .fullscreen content changes */
function fullscreenFix(){
  var h = $('body').height();
  // set .fullscreen height
  $(".content-b").each(function(i){
    if($(this).innerHeight() > h){ $(this).closest(".fullscreen").addClass("overflow");
  }
});
}
$(window).resize(fullscreenFix);
fullscreenFix();

/* resize background images */
function backgroundResize(){
  var windowH = $(window).height();
  $(".background").each(function(i){
    var path = $(this);
    // variables
    var contW = path.width();
    var contH = path.height();
    var imgW = path.attr("data-img-width");
    var imgH = path.attr("data-img-height");
    var ratio = imgW / imgH;
    // overflowing difference
    var diff = parseFloat(path.attr("data-diff"));
    diff = diff ? diff : 0;
    // remaining height to have fullscreen image only on parallax
    var remainingH = 0;
    if(path.hasClass("parallax") && !$("html").hasClass("touch")){
      var maxH = contH > windowH ? contH : windowH;
      remainingH = windowH - contH;
    }
    // set img values depending on cont
    imgH = contH + remainingH + diff;
    imgW = imgH * ratio;
    // fix when too large
    if(contW > imgW){
      imgW = contW;
      imgH = imgW / ratio;
    }
    //
    path.data("resized-imgW", imgW);
    path.data("resized-imgH", imgH);
    path.css("background-size", imgW + "px " + imgH + "px");
  });
}
$(window).resize(backgroundResize);
$(window).focus(backgroundResize);
backgroundResize();

/* set parallax background-position */
function parallaxPosition(e){
  var heightWindow = $(window).height();
  var topWindow = $(window).scrollTop();
  var bottomWindow = topWindow + heightWindow;
  var currentWindow = (topWindow + bottomWindow) / 2;
  $(".parallax").each(function(i){
    var path = $(this);
    var height = path.height();
    var top = path.offset().top;
    var bottom = top + height;
    // only when in range
    if(bottomWindow > top && topWindow < bottom){
      var imgW = path.data("resized-imgW");
      var imgH = path.data("resized-imgH");
      // min when image touch top of window
      var min = 0;
      // max when image touch bottom of window
      var max = - imgH + heightWindow;
      // overflow changes parallax
      var overflowH = height < heightWindow ? imgH - height : imgH - heightWindow; // fix height on overflow
      top = top - overflowH;
      bottom = bottom + overflowH;
      // value with linear interpolation
      var value = min + (max - min) * (currentWindow - top) / (bottom - top);
      // set background-position
      var orizontalPosition = path.attr("data-oriz-pos");
      orizontalPosition = orizontalPosition ? orizontalPosition : "50%";
      $(this).css("background-position", orizontalPosition + " " + value + "px");
    }
  });
}
if(!$("html").hasClass("touch")){
  $(window).resize(parallaxPosition);
  //$(window).focus(parallaxPosition);
  $(window).scroll(parallaxPosition);
  parallaxPosition();
}

</script>

{% endblock %}

{% block footer %}
{% endblock %}
