{% extends '::base.html.twig' %}

{% block body %}

<div class="video-parallax">

  <video loop muted="true" autoplay>
    <source src="{{ asset('/video/home.mp4') }}" type="video/mp4" />
  </video>

  <div class="content-a">
    <div class="content-b">
      <span id="title-home_search">{{ 'home.title'|trans }}</span><br>
      <span id="subtitle-home_search"style="color: #fff;">{{ 'home.subtitle'|trans }}</span>
      <div class="spacing"></div>
      <form id="form-home_search" action="/find/orchard" method="post">
        <input id="input-home_search" name="input-home_search" type="text" placeholder="{{ 'home.find.placeholder'|trans }}"><button id="btn-home_search" class="button" type="submit">{{ 'home.btn.search'|trans }}</button>
        <input id="user_latitude" name="user_latitude" type="text" hidden="hidden">
        <input id="user_longitude" name="user_longitude" type="text" hidden="hidden">
      </form>
    </div>
  </div>
</div>


<div class="jumbotron" style="background-color: #ECEEEF; margin-bottom: 0px;">
<div class="container">
  <h4 style="color: black; font-weight:bold;">{{ 'home.orchards'|trans }}</h4>
  <small>{{ 'home.last.orchards'|trans }}</small>
  <div class="spacing"></div>
  {% for orchard in orchards %}

  <a href="/orchard/show/profile/{{ orchard.id }}">
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
      <!-- Imagen -->
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        {% if orchard.images is not empty %}
        {% set hasFavourite = false %}
        {% for orchardImage in orchard.images %}
            {% if orchardImage.favourite == true %}
              <div class="find-result" style="background: url({{ asset('/orchard/image/' ~ orchardImage.nameImage) }}); background-position: center;"></div>
              {% set hasFavourite = true %}
            {% endif %}
        {% endfor %}
        {% if hasFavourite == false %}
        <div class="find-result" style="background: url({{ asset('/orchard/image/' ~ orchard.images[0].nameImage) }}); background-position: center;"></div>
        {% endif %}
        {% else %}
        <div class="find-result" style="background: url({{ asset('/img/orchard-default.jpg') }});"></div>
        {% endif %}
      </div>

      <!-- Texto -->
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p><font style="font-size:20px">{{ orchard.name }}</font> <br><i>{{ orchard.address }}</i></p>
      </div>

      <input type="text" class="geometry" value="{{ orchard.geometry }}" hidden="hidden">
    </div>
  </a>
  {% endfor %}
</div>

<div class="container">
  <div class="spacing "></div>
  <a href="/find/orchard"><button id="register-button" type="button" class="btn btn-outline-primary">{{ 'home.more'|trans }}</button></a>
  <div class="spacing "></div>

</div>

</div>

<div class="container">
  <div class="spacing"></div>
  <h4 style="color: black; font-weight:bold;">{{ 'home.activities'|trans }}</h4>
  <small>{{ 'home.agroeco'|trans }}</small>
  <div class="spacing"></div>
  {% for event in events %}
  <a href="/event/show/profile/{{ event.id }}">
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
      <!-- Imagen -->
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        {% if event.imageName is not empty %}
        <div class="find-result" style="background: url({{ asset('/orchard/event/' ~ event.imageName) }});">
          <div style="height:50px; width:50px; background-color:lightgrey;"><strong>{{ event.startDate|date("d") }}</strong><br><strong>{{ event.startDate|date("F")|slice(0, 3) }}</strong></div>
        </div>
        {% else %}
        <div class="find-result" style="background: url({{ asset('/img/event-default.jpg') }});">
          <div style="height:50px; width:50px; background-color:lightgrey;"><strong>{{ event.startDate|date("d") }}</strong><br><strong>{{ event.startDate|date("F")|slice(0, 3) }}</strong></div>
        </div>
        {% endif %}
      </div>

      <!-- Texto -->
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p><font style="font-size:20px">{{ event.title }}</font>
        </a>
        <br>
        <strong>{% if event.price == 0 %}Gratis{% else %}{{ event.price }}€{% endif %}</strong>&nbsp;&nbsp;
        <a href="/orchard/show/profile/{{ event.orchard.id }}">

          <i>{{ event.orchard.name }}</i>
        </p>
      </div>

      <input type="text" class="geometry" value="{{ event.orchard.geometry }}" hidden="hidden">
    </div>

  {% endfor %}
</div>

<div class="container">
  <div class="spacing "></div>
  <a href="/find/event"><button id="register-button" type="button" class="btn btn-outline-primary">{{ 'home.more'|trans }}</button></a>
  <div class="spacing "></div>

</div>

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <!--IDIOMA
      <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 foot">
        <h6>Idioma</h6>
        <hr>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'language'|trans }}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/es">{{ 'language.es'|trans }}</a>
            <a class="dropdown-item" href="/en">{{ 'language.en'|trans }}</a>
            <a class="dropdown-item" href="/ca">{{ 'language.ca'|trans }}</a>
          </div>
        </div>
      </div>
      <!--FIN IDIOMA-->

      <div class="footer-desktop">
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 foot">
          <h6>{{ 'footer.why'|trans }}</h6>
          <hr>
          <a href="/why"><p>{{ 'footer.why1'|trans }}</p></a>
          <a href="/why#publish"><p>{{ 'footer.why2'|trans }}</p></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 foot">
          <h6>{{ 'footer.how'|trans }}</h6>
          <hr>
          <a href="/how"><p>{{ 'footer.how1'|trans }}</p></a>
          <a href="/how#event"><p>{{ 'footer.how2'|trans }}</p></a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12 col-sm-12 foot">
          <h6>{{ 'footer.contact'|trans }}</h6>
          <hr>
          <a href="#"><p>{{ 'footer.contact1'|trans }}</p></a>
          <a href="#"><p>{{ 'footer.contact2'|trans }}</p></a>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 foot-down footer-desktop">
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
          <img src="{{ asset('/img/logo.png') }}" height="30" class="d-inline-block align-top" alt="" style="margin-top:10px;">
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 foot-down-txt">
          <p style="color: black;">Research & service design by YADEMÁS</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 foot-down-txt">
          <p><a href="#">{{ 'footer.legal'|trans }}</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}

{% block footer %}
{% endblock %}
