{% extends '::base.html.twig' %}

{% block body %}

<div class="fullscreen background parallax" style="background-image: url('https://source.unsplash.com/rHbob_bEsSs/1600x900&quot'); background-attachment: fixed;" data-img-width="1600" data-img-height="1064" data-diff="100">
  <div class="content-a">
    <div class="content-b">
      <span id="title-home_search">Haz que más personas conozcan tu huerto</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="spacing"></div>
  <h3>3 RAZONES</h3>
  <small>para subir tu huerto urbano en huertOn</small>
</div>

  <div class="spacing"></div>

<div class="container how">
  <div class="row row-centered">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-centered">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <div class="numberCircle"><span>1</span></div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
          <h6>Conectar con más personas con el “gusanillo verde”</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="spacing"></div>
  <div class="row row-centered">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-centered">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <div class="numberCircle"><span>2</span></div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
          <h6>Mayor visibilidad de tu proyecto, lo que te facilitará encontrar colaboraciones y apoyos</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="spacing"></div>
  <div class="row row-centered">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-centered">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <div class="numberCircle"><span>3</span></div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
          <h6>Gestionar de forma fácil y rápida las actividades y eventos que realizáis (gestión de inscritos)</h6>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="spacing"></div>
  <div id="publish" class="container">
    <h3>3 RAZONES</h3>
    <small>para encontrar tu huerto urbano en huertOn</small>
  </div>
  <div class="spacing"></div>

  <div class="container how">
    <div class="row row-centered">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-centered">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <div class="numberCircle"><span>1</span></div>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
            <h6>Encuentra y únete a actividades de agroecología, consumo responsable, gastronómicas, etc. en un espacio social como un huerto urbano.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="spacing"></div>
    <div class="row row-centered">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-centered">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <div class="numberCircle"><span>2</span></div>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
            <h6>Localiza muy rápido todos los proyectos de huertos urbanos qué hay cerca de ti (o dónde tú quieras)</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="spacing"></div>
    <div class="row row-centered">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-centered">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
            <div class="numberCircle"><span>3</span></div>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 how-content">
            <h6>Conocer cómo funcionan, cómo podrías participar o qué podrás encontrar allí.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="spacing"></div>
  </div>

  <div class="jumbotron" style="background-color: #ECEEEF; margin-bottom: 0px;">
    <div class="container">
      <div class="row-centered">
        <a href="http://localhost:8000/orchard/create/steps">
          <div class="col-centered">
          <button class="btn save-button btn-siguiente">Publica tu huerto</button>
          </div>
        </a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 foot">
          <h6>Idioma</h6>
          <hr>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'language'|trans }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/es">{{ 'language.es'|trans }}</a>
              <a class="dropdown-item" href="/en">{{ 'language.en'|trans }}</a>
              <a class="dropdown-item" href="/ca">{{ 'language.ca'|trans }}</a>
            </div>
          </div>
        </div>
        <div class="footer-desktop">
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 foot">
            <h6>Por qué</h6>
            <hr>
            <a href="/why"><p>Por qué publicar tu huerto</p></a>
            <a href="/why#publish"><p>Por qué participar en un huerto</p></a>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 foot">
            <h6>Cómo funciona</h6>
            <hr>
            <a href="/how"><p>Cómo subir mi huerto</p></a>
            <a href="/how#event"><p>Cómo subo una actividad</p></a>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 foot">
            <h6>Contacto</h6>
            <hr>
            <a href="#"><p>Escríbenos</p></a>
            <a href="#"><p>Prensa</p></a>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 foot-down footer-desktop">
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <img src="{{ asset('/img/logo.png') }}" height="30" class="d-inline-block align-top" alt="" style="margin-top:10px;">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 foot-down-txt">
            <p style="color: black;">Research & service design by YADEMÁS</p>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 foot-down-txt">
            <p><a href="#">Condiciones privacidad y cookies</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script type="text/javascript">

/* detect touch */
if("ontouchstart" in window){
  document.documentElement.className = document.documentElement.className + " touch";
}
if(!$("html").hasClass("touch")){
  /* background fix */
  $(".parallax").css("background-attachment", "fixed");
}

/* fix vertical when not overflow
call fullscreenFix() if .fullscreen content changes */
function fullscreenFix(){
  var h = $('body').height();
  // set .fullscreen height
  $(".content-b").each(function(i){
    if($(this).innerHeight() > h){ $(this).closest(".fullscreen").addClass("overflow");
  }
});
}
$(window).resize(fullscreenFix);
fullscreenFix();

/* resize background images */
function backgroundResize(){
  var windowH = $(window).height();
  $(".background").each(function(i){
    var path = $(this);
    // variables
    var contW = path.width();
    var contH = path.height();
    var imgW = path.attr("data-img-width");
    var imgH = path.attr("data-img-height");
    var ratio = imgW / imgH;
    // overflowing difference
    var diff = parseFloat(path.attr("data-diff"));
    diff = diff ? diff : 0;
    // remaining height to have fullscreen image only on parallax
    var remainingH = 0;
    if(path.hasClass("parallax") && !$("html").hasClass("touch")){
      var maxH = contH > windowH ? contH : windowH;
      remainingH = windowH - contH;
    }
    // set img values depending on cont
    imgH = contH + remainingH + diff;
    imgW = imgH * ratio;
    // fix when too large
    if(contW > imgW){
      imgW = contW;
      imgH = imgW / ratio;
    }
    //
    path.data("resized-imgW", imgW);
    path.data("resized-imgH", imgH);
    path.css("background-size", imgW + "px " + imgH + "px");
  });
}
$(window).resize(backgroundResize);
$(window).focus(backgroundResize);
backgroundResize();

/* set parallax background-position */
function parallaxPosition(e){
  var heightWindow = $(window).height();
  var topWindow = $(window).scrollTop();
  var bottomWindow = topWindow + heightWindow;
  var currentWindow = (topWindow + bottomWindow) / 2;
  $(".parallax").each(function(i){
    var path = $(this);
    var height = path.height();
    var top = path.offset().top;
    var bottom = top + height;
    // only when in range
    if(bottomWindow > top && topWindow < bottom){
      var imgW = path.data("resized-imgW");
      var imgH = path.data("resized-imgH");
      // min when image touch top of window
      var min = 0;
      // max when image touch bottom of window
      var max = - imgH + heightWindow;
      // overflow changes parallax
      var overflowH = height < heightWindow ? imgH - height : imgH - heightWindow; // fix height on overflow
      top = top - overflowH;
      bottom = bottom + overflowH;
      // value with linear interpolation
      var value = min + (max - min) * (currentWindow - top) / (bottom - top);
      // set background-position
      var orizontalPosition = path.attr("data-oriz-pos");
      orizontalPosition = orizontalPosition ? orizontalPosition : "50%";
      $(this).css("background-position", orizontalPosition + " " + value + "px");
    }
  });
}
if(!$("html").hasClass("touch")){
  $(window).resize(parallaxPosition);
  //$(window).focus(parallaxPosition);
  $(window).scroll(parallaxPosition);
  parallaxPosition();
}

</script>

{% endblock %}

{% block footer %}
{% endblock %}
