{% extends '::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset("/css/eventNew.css")}}">
{% endblock %}
{% block body %}

<div class="container-fluid" style="margin-left:10px;">
  <br>
<h1>Crear nuevo evento</h1>
{{ form_start(form) }}
<div class="row">
  <!-- titulo -->
    {{ form_label(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
</div>

<div class="row">
  <!-- fecha de inicio -->
  <div class="dateblock">
    {{ form_label(form.startDate) }}
    {{ form_errors(form.startDate) }}
    <br>
    {{ form_widget(form.startDate) }}
  </div>

<!-- fecha de fin -->
  <div class="dateblock">
    {{ form_label(form.endDate) }}
    {{ form_errors(form.endDate) }}
    <br>
    {{ form_widget(form.endDate) }}
  </div>
</div>

<div class="row">
  <!-- imagen de evento  -->
    {{ form_label(form.images) }}
    {{ form_errors(form.images) }}
    {{ form_widget(form.images) }}
    <div class="imageDiv" ondrop="drop(event)" ondragover="allowDrop(event)">
      <div class="more" onclick="$('input:file').click();">
        <span id="plus" class="glyphicon glyphicon-plus-sign">+</span>
      </div>
      <div id="gallery">
      </div>
      </div>
</div>

<div class="row">
  <!-- descripcion -->
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    <br>
    {{ form_widget(form.description) }}
</div>

<div class="row">
  <!-- nº de plazas -->
    {{ form_label(form.places) }}
    {{ form_errors(form.places) }}
    {{ form_widget(form.places) }}
<!-- boolean mostrar nºplazas -->
    {{ form_widget(form.showPlaces) }}
    {{ form_label(form.showPlaces) }}
    {{ form_errors(form.showPlaces) }}

</div>

<div class="row">
  <!-- precio -->
    {{ form_label(form.price) }}
    {{ form_errors(form.price) }}
    {{ form_widget(form.price) }}
</div>

<div class="row">
    {{ form_widget(form.guardar) }}
</div>

{{ form_end(form) }}

</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
//cargar imagenes con click
var imagenes = new Array();
var id = 0;
var maxfiles = 1;
$("input:file").change(function(){
  console.log("detectando cambios en input");
  previewImage(this.files[0]);
});
</script>
<script src="{{asset("/js/event.js")}}" charset="utf-8"></script>

{% endblock %}
