{% extends '::base.html.twig' %}
{% block body %}
<div class="" style="margin-top:100px;">
  <a href="/event/create/list"><< Mis actividades</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Inscritos {{ event.title }}</h1>
          <a href="/event/create/list/users/add/"><button type="button" class="btn btn-success">Añadir inscrito</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <table class="table">
      {% for key, value in users %}
        <tr>
          <td>{{ value.username }}</td>
          <td>{{ value.email }}</td>
          <td id="amount">{{ amounts[key] }} plazas</td>
          <td><button type="button" class="btn btn-danger show-modal{{ value.id }}">Eliminar</button></td>
          <td><a href="#"><button type="button" class="btn btn-primary" name="button">Editar</button></a></td>
        </tr>

        <script type="text/javascript">
        $(function() {
          $('.show-modal{{ value.id }}').click(function(){
            $('#btn-delete-modal').attr("href", "/event/create/list/inscribed/delete/{{ event.id }}/{{ value.id }}");
            $('#myModal').modal('show');
          });
        });
        </script>

      {% endfor %}

    </table>
  </div>
</div>



<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'orchard.list.sure'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'orchard.list.sure-2'|trans }}<p></p>
      </div>
      <div class="modal-footer">
        <a id="btn-delete-modal" href=""><button type="button" class="btn btn-danger ">{{ 'orchard.list.yesDelete'|trans }}</button></a>
        <a id="btn-no-delete" href=""><button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
