{% extends '::base.html.twig' %}

{% block body %}

{% if events != null and events is not empty %}
<div class="container">
  <div class="row row-centered">
    <div class="col col-centered">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#next" role="tab">Próximas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#past" role="tab">Anteriores</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="tab-content">
  <div class="tab-pane active" id="next" role="tabpanel">
    {% for event in events %}
    {% if event.startDate|date("d/M/Y h:m") > date()|date("d/M/Y h:m") %}
      <h1>{{ event.title }}</h1>
      <p><i>Inicio: {{ event.startDate|date("d/M/Y h:m")}}</i></p>
      <p><i>Fin: {{ event.endDate|date("d/M/Y h:m")}}</i></p>
    {% endif %}
    {% endfor %}
</div>

<div class="tab-pane" id="past" role="tabpanel">
  {% for event in events %}
  {% if event.startDate|date("d/M/Y h:m") < date()|date("d/M/Y h:m") %}
    <h1>{{ event.title }}</h1>
    <p><i>Inicio: {{ event.startDate|date("d/M/Y h:m")}}</i></p>
    <p><i>Fin: {{ event.endDate|date("d/M/Y h:m")}}</i></p>
  {% endif %}
  {% endfor %}
</div>
</div>

{% endif %}
{% endblock %}
