{% extends '::base.html.twig' %}

{% block body %}
<div style="margin-bottom: -20px; background-color:#f2f2f2;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h1>Huertos que has creado</h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 container" style="padding:20px;">
        <a href="/orchard/create/steps"><button type="button" class="btn save-button" style="padding:10px 60px;">Añade un huerto</button></a>
      </div>
    </div>
  </div>
</div>

<div class="spacing">

</div>

<div class="row">
  {% for orchard in app.user.orchard %}
  {% if orchard.step > 11 %}

  <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12 col-sm-12">
    <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-sm-12">

      <div class="row">
        <a href="/orchard/show/profile/{{ orchard.id }}">
          <div class="col-xl-9 col-lg-9 col-md-9 col-xs-9 col-sm-9 text-xs-left text-sm-left text-lg-left text-xl-left">
            <h3>{{ orchard.name }}</h3>
          </div>
        </a>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-3 col-sm-3 text-xs-right text-sm-right text-md-right text-lg-right text-xl-right">
          <a href="/orchard/create/steps/{{ orchard.id }}"><button type="button" class="btn btn-secondary list-bt" data-toggle="tooltip" data-placement="bottom" title="Tardarás 5 min en completar tu huerto">Edita</button></a>
        </div>
      </div>
      {% if orchard.images != null and orchard.images is not empty %}
      <a href="/orchard/show/profile/{{ orchard.id }}">
        <div style="width: 100%; height: 300px; background: url({{ asset('/orchard/image/' ~ orchard.images[0].nameImage) }}); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
      </a>
      {% endif %}

      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-xs-9 col-sm-9 text-xs-left text-sm-left text-lg-left text-xl-left">
          <i>{{ 'orchard.list.lastDate'|trans }}{{ orchard.updatedAt|date("d/M/Y h:m")}}</i>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-3 col-sm-3 text-xs-right text-sm-right text-lg-right text-xl-right"><br>
          {% if orchard.published == 1 %}
          <p><i>{{ 'orchard.list.published'|trans }}</i></p>
          {% else %}
          <p><i>{{ 'orchard.list.draft'|trans }}</i></p>
          {% endif %}
        </div>
      </div>

      <div class="row-centered">
        <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-sm-12">
          {% if orchard.step > 13 %}
          {% if orchard.published == 0 %}
          <a href="/orchard/create/publish/{{ orchard.id }}/true"><button id="btn-publish" type="button" class="btn btn-secondary list-bt">{{ 'orchard.list.publish'|trans }}</button></a>
          {% endif %}
          {% if orchard.published == 1 %}
          <a href="/orchard/create/publish/{{ orchard.id }}/false"><button id="btn-unpublish" type="button" class="btn btn-secondary list-bt">{{ 'orchard.list.unPublish'|trans }}</button></a>
          {% endif %}
          {% else %}
          <a href="/orchard/create/publish/{{ orchard.id }}/true"><button id="btn-publish" type="button" class="btn btn-secondary list-bt" disabled>{{ 'orchard.list.publish'|trans }}</button></a>
          {% endif %}

          <a href="/event/create/null/{{ orchard.id }}"><button type="button" class="btn btn-secondary list-bt">Crear evento</button></a>

          <button type="button" class="btn show-modal{{ orchard.id }} list-bt-delete">{{ 'orchard.list.delete'|trans }}</button>
        </div>
      </div>

    </div>
  </div>
  {% endif %}



  <script type="text/javascript">
  $(function() {
    $('.show-modal{{ orchard.id }}').click(function(){
      $('#btn-delete-modal').attr("href", "/orchard/create/delete/{{ orchard.id}}")
      $('#btn-unpublish-modal').attr("href", "/orchard/create/publish/{{ orchard.id }}/false")
      $('#myModal').modal('show');
    });
  });
  </script>

  {% endfor %}
  <div style="text-align: center; margin-bottom:10px;" class="draft-xs fixed-buttons">
    <a href="/orchard/create/steps"><button type="button" class="btn btn-success btn-draft-xs">{{ 'orchard.list.add-btn'|trans }}</button></a>
  </div>

</div>





<!--======================MODAL======================-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'orchard.list.sure'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'orchard.list.sure-2'|trans }}<p></p>
      </div>
      <div class="modal-footer">
        <a id="btn-delete-modal" href=""><button type="button" class="btn btn-danger ">{{ 'orchard.list.yesDelete'|trans }}</button></a>
        <a id="btn-unpublish-modal" href=""><button id="btn-unpublish" type="button" class="btn btn-secondary ">{{ 'orchard.list.yesUnpublish'|trans }}</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>



{% endblock %}
