{% extends '::step_base.html.twig' %}

{% block body %}

<div class="row step-1">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <form>
      <div class="form-group">
        <label class="label-control" for="Name" data-toggle="tooltip" data-placement="right" title="Campo requerido">¿Cómo se llama tu huerto?</label>
        <span style="display:none;color:red">Campo requerido</span>
        <input type="text" class="form-control required" id="Name" value="{{ orchard.name }}" placeholder="Nombre de tu huerto">
      </div>
      <div class="form-group">
        <label for="form-address" data-toggle="tooltip" data-placement="right" title="Campo requerido">¿Dónde está tu huerto?<small id="fileHelp" class="form-text text-muted">
          <span class="label-control" style="display:none;color:red">Campo requerido</span>
          <input type="text" class="form-control required" id="Address" value="{{ orchard.address }}" placeholder="Dirección de tu huerto">
          <i>Mueve el marcador para seleccionar la entrada a tu huerto.</i></small></label>

          <input type="text" id="Town" value="{{ orchard.town }}" hidden="hidden">
          <input type="text" id="Street" value="{{ orchard.street }}" hidden="hidden">
          <input type="text" id="Number" value="{{ orchard.number }}" hidden="hidden">
          <input type="text" id="Zipcode" value="{{ orchard.zipcode }}" hidden="hidden">
          <input type="text" id="Geometry" value="{{ orchard.geometry }}" hidden="hidden">
          <input type="text" id="Step" hidden="hidden" value="12">

        </div>
      </form>

      <div class="fixed-buttons">
  			<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">Atrás</button>
  			<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">Siguiente</button>
  		</div>

    </div>

    <div class="map col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div id="map" class="map"></div>
    </div>

</div>

<script type="text/javascript">
  $('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 25 + '%','aria-valuenow': 25}, {duration: 400, easing: 'linear'});
</script>

<script src="{{ asset('/js/map.js') }}"></script>

<script src="{{ asset('/js/autocomplete.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoEnPxI5c67EcNsgznNOqhUn7Vz2RL2Xg&signed_in=true&libraries=places&callback=initAutocomplete"
async defer></script>

{% endblock %}
