{% extends '::step_base.html.twig' %}
{% block currentStep %}
    1
    <span class="step-title">
        : ¿Qué formas de participar ofreces?
    </span>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 steps-left">
            <h3>{{ 'orchard.step21.title'|trans }}</h3>
            <form class="steps-left-content">
                <div class="row steps-left-innerContent">
                    {% for orchardParticipate in orchardParticipates %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="custom-control custom-checkbox">
                                <input id="{{ orchardParticipate.id }}" type="checkbox" class="custom-control-input" {% if orchardParticipate in orchard.orchardParticipate %} checked {% endif %}>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ orchardParticipate.name }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="row steps-left-innerContent">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="custom-control custom-checkbox">
                            <input id="cb-new-participate" type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'orchard.step21.participate'|trans }}</span>
                        </label>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <input type="text" class="form-control" id="Participate" placeholder="{{ 'orchard.step21.participate-2'|trans }}" hidden>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <button style="float: right;" id="btn-enviar" class="btn btn-outline-primary delete-button" hidden>{{ 'orchard.step13.send'|trans }}</button>

                        </div>
                    </div>
                </div>
                <input type="text" id="Step" hidden="hidden" value="22">

            </form>
            <!-- Buttons desktop -->
            <div class="buttons">
                <button type="submit" name="button" class="btn btn-outline-primary delete-button btn-atras">{{ 'orchard.step11.back'|trans }}</button>
                <button type="reset" name="button" class="btn save-button btn-siguiente">{{ 'orchard.step11.next'|trans }}</button>
            </div>

            <!-- Buttons mobile -->
            <div class="fixed-buttons">
                <button type="button" class="btn btn-outline-primary delete-button col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-atras">{{ 'orchard.step11.back'|trans }}</button>
                <button type="submit" class="btn save-button col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-siguiente">{{ 'orchard.step11.next'|trans }}</button>
            </div>

        </div>

        <!--pantalla de la derecha -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 steps-right">
            <h1 style="line-height: 1.5; font-weight: bold;">CADA HUERTO ES UN MUNDO</h1>
            <p>Ayúdale a ver
                <b>cómo</b>
                puede empezar a participar. O incluso si necesitáis un
                <b>rol específico</b>
                ( un agrónomo, alguien que lleve las cuentas o la comunicación, etc.)</p>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $(function() {

            $('#progressbar').val(localStorage.getItem('lastProgress')).animate({
                'value': 50 + '%',
                'aria-valuenow': 50
            }, {
                duration: 400,
                easing: 'linear'
            });

            //FUNCION BOTON SIGUIENTE
            $('.btn-siguiente').on('click', function() {

                var orchard_participates = [];
                initSave(orchard_participates);

                $.ajax({
                    type: 'POST',
                    url: '/orchard/create/insert/checkbox/{{ orchard.id }}/OrchardParticipate',
                    data: {
                        'OrchardParticipate': orchard_participates
                    },
                    success: function(data) {
                        saveAnimation();
                        
                        window.location.href = '/orchard/create/step/' + data.redirect + '/{{ orchard.id }}';
                    },
                    error: function(jqXHR, exception) {
                        saveAnimation();
                        if (jqXHR.status === 0) {
                            
                        } else if (jqXHR.status == 404) {
                            
                        } else if (jqXHR.status == 500) {
                            
                        } else if (exception === 'parsererror') {
                            
                        } else if (exception === 'timeout') {
                            
                        } else if (exception === 'abort') {
                            
                        } else {
                            
                        }
                        
                    }
                });

                return false;

            });

            //FUNCION BOTON ATRAS
            $('.btn-atras').on('click', function() {

                var orchard_participates = [];
                initSave(orchard_participates);

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/orchard/create/insert/checkbox/{{ orchard.id }}/OrchardParticipate',
                    data: {
                        'OrchardParticipate': orchard_participates
                    },
                    success: function() {
                        saveAnimation();
                        window.location.href = '/orchard/create/step/14/{{ orchard.id }}';
                    }
                });

            });

            //FUNCION BOTON GUARDAR Y SALIR
            $('#btn-save-exit').on('click', function() {

                var orchard_participates = [];
                initSave(orchard_participates);

                $.ajax({
                    type: 'POST',
                    url: '/orchard/create/insert/checkbox/{{ orchard.id }}/OrchardParticipate',
                    data: {
                        'OrchardParticipate': orchard_participates
                    },
                    success: function(data) {
                        saveAnimation();
                        
                        window.location.href = '/orchard/create/steps/{{ orchard.id }}';
                    },
                    error: function(jqXHR, exception) {
                        saveAnimation();
                        if (jqXHR.status === 0) {
                            
                        } else if (jqXHR.status == 404) {
                            
                        } else if (jqXHR.status == 500) {
                            
                        } else if (exception === 'parsererror') {
                            
                        } else if (exception === 'timeout') {
                            
                        } else if (exception === 'abort') {
                            
                        } else {
                            
                        }
                        
                    }
                });

                return false;

            });

            function initSave(orchard_participates) {
                $("#loading, #loading-text").fadeIn("slow");
                $(':checkbox:not(#cb-new-participate):checked').each(function() {
                    
                    orchard_participates.push($(this).attr('id'));
                });
            }

            function saveAnimation() {
                $("#loading, #loading-text").fadeOut("slow", function() {
                    $("#loading-text").text("Guardado").fadeIn('slow');
                });
            }

            //FUNCIÓN QUE COMPRUEBA SI SE INSERTAN REGISTROS
            $(':checkbox:not(#cb-new-participate)').change(function() {
                var checkeado = false;
                if (this.checked) {
                    $('.btn-siguiente').html('{{ 'orchard.step11.next'|trans }}')
                } else {
                    if ($(':checkbox').each(function() {
                        if (this.checked) {
                            checkeado = true;
                        }
                    }))
                    ;

                    if (!checkeado) {
                        $('.btn-siguiente').html('{{ 'orchard.step21.nowNo'|trans }}');
                    }
                }
            });

            $(':checkbox:not(#cb-new-participate)').each(function() {
                if (this.checked) {
                    
                    $('.btn-siguiente').html('{{ 'orchard.step11.next'|trans }}')
                }
            });

            initSuggest();

            function initSuggest() {
                //FUNCION PARA MOSTRAR/OCULTAR INPUT SUGERENCIA
                $('#cb-new-participate').click(function() {
                    this.checked
                        ? $('#Participate').removeAttr('hidden')
                        : $('#Participate').attr('hidden', 'hidden');
                    this.checked
                        ? $('#btn-enviar').removeAttr('hidden')
                        : $('#btn-enviar').attr('hidden', 'hidden');
                });

                //borramos los handlers del onclick para evitar que se clike varias veces añade gestion de AJAX al boton enviar al entrar a la pagina por si el campo tipo ya estaba rellenado anteriormente
                prepareSend();

                //borramos los handlers del onclick para evitar que se clike varias veces añade gestion de AJAX al boton enviar cada vez que se escriba en el campo de tipo
                $('#Participate').keyup(function() {
                    prepareSend();
                });
            }

            function prepareSend() {
                $('#btn-enviar').off('click');
                $('#btn-enviar').on('click', function() {
                    if ($('#Participate').val()) {
                        $.ajax({
                            type: 'POST',
                            url: '/orchard/suggest/send/orchard_participate/' + $('#Participate').val(),
                            success: function(data) {
                                
                                $('#myModal').modal('show');
                            },
                            error: function(jqXHR, exception) {
                                if (jqXHR.status === 0) {
                                    
                                } else if (jqXHR.status == 404) {
                                    
                                } else if (jqXHR.status == 500) {
                                    
                                } else if (exception === 'parsererror') {
                                    
                                } else if (exception === 'timeout') {
                                    
                                } else if (exception === 'abort') {
                                    
                                } else {
                                    
                                }
                                
                            }
                        });
                    }
                    return false;
                });
            }

        });
    </script>
{% endblock %}
