{% extends '::step_base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>{{ 'orchard.step31.title'|trans }}</h4></label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="ProjectStart">{{ 'orchard.step31.title-2'|trans }}</label><span id="start-chars">500</span>
						<textarea rows="4" cols="50" class="form-control" id="ProjectStart" placeholder="{{ 'orchard.step31.title-2-1'|trans }}" maxlength="500">{{ orchard.projectStart }}</textarea>

					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="GovernanceModel">{{ 'orchard.step31.title-3'|trans }}</label><span id="governance-chars">500</span>
						<textarea rows="4" cols="50" class="form-control" id="GovernanceModel" placeholder="{{ 'orchard.step31.title-3-1'|trans }}" maxlength="500">{{ orchard.governanceModel }}</textarea>

					</div>
					<br><br><br><br>
				</div>

			</div>

			<input type="text" id="Step" hidden="hidden" value="32">

		</form>

		<div class="fixed-buttons">
			<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ 'orchard.step11.back'|trans }}</button>
			<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ 'orchard.step11.next'|trans }}</button>
		</div>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>

<script type="text/javascript">
$( document ).ready(function() {

	$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 33 + '%','aria-valuenow': 33}, {duration: 400, easing: 'linear'});

	$('textarea').each(function() {
		var length = $(this).val().length;
		if(length) {
			$('#btn-siguiente').html('{{ 'orchard.step11.next'|trans }}');
		}else if(checkEmpty()) {
			$('#btn-siguiente').html('{{ 'orchard.step21.nowNo'|trans }}');
		}
	});

	function checkEmpty() {
		var empty = true;
		$('textarea').each(function(){
			if (this.value != "") {
				empty = false;
			}
		})
		return empty;
	}

	//contador de caracteres restantes
	var maxLength = 500;
	$('textarea').keyup(function() {
		var length = $(this).val().length;
		if(length) {
			$('#btn-siguiente').html('{{ 'orchard.step11.next'|trans }}');
		}else if(checkEmpty()) {
			$('#btn-siguiente').html('{{ 'orchard.step21.nowNo'|trans }}');
		}
		var length = maxLength-length;
		$(this).prev().text(length);
		if(length == 0) {
			$(this).addClass( "ta-maxlength" );
		}else {
			$(this).removeClass( "ta-maxlength" );
		}
	});
});
</script>

{% endblock %}
