{% extends '::step_base.html.twig' %}
{% block currentStep %}
    2
    <span class="step-title">
        : Normas del huerto
    </span>
{% endblock %}
{% block stylesheets %}
    <!-- css step 2.4 carga pdf-->
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/files.css') }}"/>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 steps-left">
          <!-- Cargando... -->
          <h1 class="display-3">
            <span id="loading-file" style="display: none;" class="navbar-text">
                {{ 'orchard.step14.loading'|trans }}
            </span>
          </h1>
          <h3>{{ 'orchard.step22.title'|trans }}</h3>
            <form id="formFiles" class="steps-left-content">
              <div class="row steps-left-innerContent">
                <div class="steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 container">

                  <div class="cuadro-subidas" ondrop="drop(event)" ondragover="allowDrop(event)">
                      <input type="file" id="fileinput" accept=".pdf" hidden="hidden"/>
                      {% if orchard.ruleFile is defined and orchard.ruleFile | length > 0 %}
                          <div class="more" onclick="$('#fileinput').click();" hidden="hidden">
                          {% else %}
                              <div class="more" onclick="$('#fileinput').click();">
                              {% endif %}
                              <h5>{{ 'orchard.step22.add'|trans }}</h5>
                              <img src="/img/pdf-upload.png" style="width: 50px; height: 50px; margin-bottom:50px; margin-top:25px;" alt="">

                          </div>
                          <div id="files"></div>
                          <!-- imprimir fichero subido si lo hay -->
                          {% if orchard.ruleFile is defined and orchard.ruleFile | length > 0 %}
                              <input type="text" hidden="true" class="required" name="imagesuploaded" value="{{orchard.images|length}}"/>
                              <h1 id="h1Upload">{{ 'orchard.step22.uploaded'|trans }}</h1>
                              <div class="upload">
                                  <div class="thumbnail">
                                      <span class="fa fa-times-circle topRight deleteImage" id="{{orchard.id}}" onclick="deleteUpload(this)"></span>
                                      <img src="/img/pdf_logo.jpg">
                                      <p>
                                        <a href="/orchard/file/{{orchard.ruleFile.nameFile}}">{{orchard.ruleFile.nameFile}}</a>
                                      </p>
                                  </div>
                              </div>
                          {% endif %}
                      </div>
                  </div>
                      <input type="text" id="Step" hidden="hidden" value="23">
                  </form>
                </div>
                <!-- Buttons desktop -->
                <div class="buttons">
                    <button type="submit" name="button" class="btn btn-outline-primary delete-button btn-atras">{{ 'orchard.step11.back'|trans }}</button>
                    <button type="reset" name="button" class="btn save-button btn-siguiente">{{ 'orchard.step11.next'|trans }}</button>
                </div>

                <!-- Buttons mobile -->
                <div class="fixed-buttons">
                    <button type="button" class="btn btn-outline-primary delete-button col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-atras">{{ 'orchard.step11.back'|trans }}</button>
                    <button type="submit" class="btn save-button col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-siguiente">{{ 'orchard.step11.next'|trans }}</button>
                </div>
            </div>

            <!--pantalla de la derecha -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 steps-right">
                <h1 style="line-height: 1.5; font-weight: bold;">{{ 'orchard.step22.title-right'|trans }}</h1>
                <p>{{ 'orchard.step22.title-right-2'|trans }}</p>
                <a target="_blank" href="http://www.agrohuerto.com/buenas-practicas-en-huertos-municipales/"><button name="button" class="btn btn-outline-primary delete-button btn-atras btn-pdf-link">Agrohuertos</button></a>
            </div

        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/files.js')}}" charset="utf-8"></script>
            <script type="text/javascript">

                $('#progressbar').val(localStorage.getItem('lastProgress')).animate({
                    'value': 60 + '%',
                    'aria-valuenow': 60
                }, {
                    duration: 400,
                    easing: 'linear'
                });

                var fileNormas = null;
                //cargar el file con click
                var filesinput = document.querySelector('#fileinput');
                filesinput.addEventListener('change', function() {
                    console.log("detectando cambios en input");
                    $("#loading-file").fadeIn("slow");
                    if (fileNormas == null && this.files.length < 2) {
                        //console.log(this.files[0]);
                        previewImage(this.files[0]);
                    } else {
                        alert("solo se permite un maximo de 1 archivo");
                    }
                    $("#loading-file").fadeOut("slow");
                }, false);

                $('.btn-siguiente,#btn-save-exit').on('click', function() {

                    var formData = new FormData();
                    // jQuery.each(jQuery('#fileinput')[0].files, function(i, file) {   formData.append('file-'+i, file); });
                    formData.append('fileNormas', fileNormas);
                    $.ajax({
                        type: 'POST',
                        url: '/orchard/upload/files/upload/{{orchard.id}}',
                        type: "post",
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function(data) {
                            console.log('success :' + data);
                            window.location.href = '/orchard/create/step/' + data + '/{{ orchard.id }}';
                        },
                        error: function(jqXHR, exception) {
                            if (jqXHR.status === 0) {
                                alert('Not connect.\n Verify Network.');
                            } else if (jqXHR.status == 404) {
                                alert('Requested page not found. [404]');
                            } else if (jqXHR.status == 500) {
                                alert('Internal Server Error [500].');
                            } else if (exception === 'parsererror') {
                                alert('Requested JSON parse failed.');
                            } else if (exception === 'timeout') {
                                alert('Time out error.');
                            } else if (exception === 'abort') {
                                alert('Ajax request aborted.');
                            } else {
                                alert('Uncaught Error.\n' + jqXHR.responseText);
                            }
                            console.log('error');
                        }
                    });

                    return false;

                });
                $('.btn-atras').on('click', function() {

                    var formData = new FormData();
                    // jQuery.each(jQuery('#fileinput')[0].files, function(i, file) {   formData.append('file-'+i, file); });
                    formData.append('fileNormas', fileNormas);
                    $.ajax({
                        type: 'POST',
                        url: '/orchard/upload/files/upload/{{orchard.id}}',
                        type: "post",
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function() {
                            window.location.href = '/orchard/create/step/21/{{ orchard.id }}';
                        },
                        error: function(jqXHR, exception) {
                            if (jqXHR.status === 0) {
                                alert('Not connect.\n Verify Network.');
                            } else if (jqXHR.status == 404) {
                                alert('Requested page not found. [404]');
                            } else if (jqXHR.status == 500) {
                                alert('Internal Server Error [500].');
                            } else if (exception === 'parsererror') {
                                alert('Requested JSON parse failed.');
                            } else if (exception === 'timeout') {
                                alert('Time out error.');
                            } else if (exception === 'abort') {
                                alert('Ajax request aborted.');
                            } else {
                                alert('Uncaught Error.\n' + jqXHR.responseText);
                            }
                            console.log('error');
                        }
                    });

                    return false;

                });
            </script>

        {% endblock %}
