{% extends '::step-base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>¿Cómo pueden contactar conmigo?</h4></label><br>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<label for="Mail" class="label-control" data-toogle="tooltip" data-placement="right" title="Campo requerido">Mail</label>
						<span style="display: none;">Campo requerido</span>
						<input type="text" class="form-control required" id="Mail" value="{{ orchard.mail }}" placeholder="Escribe aquí tu email"><br>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<label for="Phone" class="label-control" data-toogle="tooltip" data-placement="right" title="Campo requerido">Teléfono</label>
						<span style="display: none;">Campo requerido</span>
						<input type="text" class="form-control required" id="Phone" value="{{ orchard.phone }}" placeholder="Escribe aquí tu teléfono"><br>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="Web" >Web / Blog</label>
						<input type="text" class="form-control" id="Web"  value="{{ orchard.web }}"placeholder="Escribe aquí tu Web / Blog">
					</div>
					<br><br><br><br>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="orchard-social">Redes Sociales</label>
						<span class="input input--fumi">
							<input class="input__field input__field--fumi form-control" type="text" id="Facebook" value="{{ orchard.facebook }}" />
							<label class="input__label input__label--fumi" for="orchard-facebook">
								<i class="fa fa-fw fa-facebook-official icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Facebook</span>
							</label>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="input input--fumi">
							<input class="input__field input__field--fumi form-control" type="text" id="Instagram" value="{{ orchard.instagram }}" />
							<label class="input__label input__label--fumi" for="orchard-instagram">
								<i class="fa fa-fw fa-instagram icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Instagram</span>
							</label>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="input input--fumi">
							<input class="input__field input__field--fumi form-control" type="text" id="Twitter" value="{{ orchard.twitter }}" />
							<label class="input__label input__label--fumi" for="orchard-twitter">
								<i class="fa fa-fw fa-twitter icon icon--fumi"></i>
								<span class="input__label-content input__label-content--fumi">Twitter</span>
							</label>
						</span>
					</div>
				</div>

			</div>

			<input type="text" id="Step" hidden="hidden" value="13">

		</form>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right">
		<img src="{{ asset('img/step12.png') }}" width="100%" height="100%">
	</div>

</div>

{% endblock %}

{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>

<script type="text/javascript">

(function() {
	// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
	if (!String.prototype.trim) {
		(function() {
			// Make sure we trim BOM and NBSP
			var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
			String.prototype.trim = function() {
				return this.replace(rtrim, '');
			};
		})();
	}

	[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
		// in case the input is already filled..
		if( inputEl.value.trim() !== '' ) {
			classie.add( inputEl.parentNode, 'input--filled' );
		}

		// events:
		inputEl.addEventListener( 'focus', onInputFocus );
		inputEl.addEventListener( 'blur', onInputBlur );
	} );

	function onInputFocus( ev ) {
		classie.add( ev.target.parentNode, 'input--filled' );
	}

	function onInputBlur( ev ) {
		if( ev.target.value.trim() === '' ) {
			classie.remove( ev.target.parentNode, 'input--filled' );
		}
	}
})();

</script>

<script type="text/javascript">
  $('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 50 + '%','aria-valuenow': 50}, {duration: 400, easing: 'linear'});
</script>

{% endblock %}
