{% extends '::step_base.html.twig' %}

{% block stylesheets %}
<!-- css step 2.4 carga pdf-->
<link rel="stylesheet" type="text/css" href="{{ asset('/css/set5.css') }}" />
{% endblock %}
{% block body %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
    <span id="loading-file" style="display: none;" class="navbar-text">
      {{ 'orchard.step14.loading'|trans }}
    </span>
    <form>
      <div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <p><h4>{{ 'orchard.step22.title'|trans }}</h4></p>
        <div class="cuadro-subidas-pdf col-xs-12 col-sm-12 col-md-12 col-lg-12" ondrop="drop(event)" ondragover="allowDrop(event)">
          <input type="file" id="fileinput" accept=".pdf,.docx,.txt,.doc,.odf" hidden="hidden"/>
          <div class="more" onclick="$('#fileinput').click();">
            <p>{{ 'orchard.step14.add'|trans }}</p>
          </div>
          <div id="files">
          </div>
        </div>

        <!-- <br>
        <h3 class="centrar-o">Ó</h3>
        <p>Quiero compartir el archivo</p>
        <input type="text" class="form-control required" placeholder="Escribe el link"> -->
      </div>

        <input type="text" id="Step" hidden="hidden" value="23">
      </form>

      <div class="fixed-buttons">
  			<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ 'orchard.step11.back'|trans }}</button>
  			<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ 'orchard.step11.next'|trans }}</button>
  		</div>

</div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right-pdf">
    <h3 class="display-3">{{ 'orchard.step22.title-right'|trans }}</h3>
    <h4 class="display-5">{{ 'orchard.step22.title-right-2'|trans }}</h4><br><br>
    <h5>{{ 'orchard.step22.title-right-3'|trans }}</h5>
  </div>

{% endblock %}

{% block javascripts %}
<script src="{{asset('js/files.js')}}" charset="utf-8"></script>
<script type="text/javascript">

$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 66 + '%','aria-valuenow': 66}, {duration: 400, easing: 'linear'});

var fileNormas = null;
//cargar el file con click
var filesinput = document.querySelector('#fileinput');
filesinput.addEventListener('change', function () {
  console.log("detectando cambios en input");
  $("#loading-file").fadeIn("slow");
  //solo se permiten 10 imagenes
  if(fileNormas==null && this.files.length<2){
    //console.log(this.files[0]);
    previewImage(this.files[0]);
  }else {
    alert("solo se permite un maximo de 1 archivo");
  }
  $("#loading-file").fadeOut("slow");
}, false);


$('#btn-siguiente').off('click');

$('#btn-siguiente').on('click', function() {
  $("#loading, #loading-text").fadeIn("slow");
  var data = new FormData();
  data.append("normas", fileNormas);
    $.ajax({
      type: "POST",
      contentType: false,
      url: "/orchard/upload/files/upload",
      data: JSON.stringify(imagenes),
      success: function(step){
        console.log(step);
        window.location.href = '/orchard/create/step/' + data.redirect + '/{{ orchard.id }}';
      },
      error: function(jqXHR, exception) {
          $("#loading, #loading-text").fadeOut("slow", function() {
            $("#loading-text").text("Guardado").fadeIn('slow');
          });
          if (jqXHR.status === 0) {
                alert('Not connect.\n Verify Network.');
            } else if (jqXHR.status == 404) {
                alert('Requested page not found. [404]');
            } else if (jqXHR.status == 500) {
                alert('Internal Server Error [500].');
            } else if (exception === 'parsererror') {
                alert('Requested JSON parse failed.');
            } else if (exception === 'timeout') {
                alert('Time out error.');
            } else if (exception === 'abort') {
                alert('Ajax request aborted.');
            } else {
                alert('Uncaught Error.\n' + jqXHR.responseText);
            }
          console.log('error');
        }
    });
});

</script>

{% endblock %}
