{% extends '::step_base.html.twig' %}
{% block currentStep %}
    2
    <span class="step-title">
        : ¿Qué servicios ofreces?
    </span>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 steps-left">
          <h3>{{ 'orchard.step32.title'|trans }}</h3>
            <form class="steps-left-content">
                  <div class="row steps-left-innerContent">
                        {% for orchardService in orchardServices %}

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label class="custom-control custom-checkbox">
                                    <input id="{{ orchardService.id }}" type="checkbox" class="custom-control-input" {% if orchardService in orchard.orchardService %} checked {% endif %}>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ orchardService.name }}</span>
                                </label>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="row steps-left-innerContent">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="custom-control custom-checkbox">
                                <input id="cb-new-service" type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ 'orchard.step32.title-2'|trans }}</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="Service" placeholder="{{ 'orchard.step32.title-3'|trans }}" hidden>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <button style="float: right;" id="btn-enviar" class="btn btn-outline-primary delete-button" hidden>{{ 'orchard.step13.send'|trans }}</button>
                            </div>
                        </div>
                    </div>

                <input type="text" id="Step" hidden="hidden" value="33">

            </form>

            <!-- Buttons desktop -->
            <div class="buttons">
                <button type="submit" name="button" class="btn btn-outline-primary delete-button btn-atras">{{ 'orchard.step11.back'|trans }}</button>
                <button type="reset" name="button" class="btn save-button btn-siguiente">{{ 'orchard.step11.next'|trans }}</button>
            </div>

            <!-- Buttons mobile -->
            <div class="fixed-buttons">
                <button type="button" class="btn btn-outline-primary delete-button col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-atras">{{ 'orchard.step11.back'|trans }}</button>
                <button type="submit" class="btn save-button col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-siguiente">{{ 'orchard.step11.next'|trans }}</button>
            </div>

        </div>

        <!--pantalla de la derecha -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 steps-right">
            <h1 style="line-height: 1.5; font-weight: bold;">ENSEÑA AL URBANITA QUÉ TIPO DE SERVICIOS OFRECES EN TU HUERTO</h1>
            <p><img src="/img/stone-oven.png" alt="" style="width: 70px; height: 70px; margin-right:50px; margin-left:0px; margin-top: 15px; margin-bottom: 15px;">Horno</p>
            <p><img src="/img/swings.png" alt="" style="width: 70px; height: 70px; margin-right:50px; margin-left:0px; margin-top: 15px; margin-bottom: 15px;">Zona de niños</p>
            <p><img src="/img/bicycle.png" alt="" style="width: 70px; height: 70px; margin-right:50px; margin-left:0px; margin-top: 15px; margin-bottom: 15px;">Aparcamiento de bicis</p>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $(function() {

            $('#progressbar').val(localStorage.getItem('lastProgress')).animate({
                'value': 90 + '%',
                'aria-valuenow': 90
            }, {
                duration: 400,
                easing: 'linear'
            });

            //FUNCION BOTON SIGUIENTE
            $('.btn-siguiente').on('click', function() {

                var orchard_services = [];
                initSave(orchard_services);

                $.ajax({
                    type: 'POST',
                    url: '/orchard/create/insert/checkbox/{{ orchard.id }}/OrchardService',
                    data: {
                        'OrchardService': orchard_services
                    },
                    success: function(data) {
                        saveAnimation();
                        console.log('success');
                        window.location.href = '/orchard/create/step/' + data.redirect + '/{{ orchard.id }}';
                    },
                    error: function(jqXHR, exception) {
                        saveAnimation();
                        if (jqXHR.status === 0) {
                            alert('Not connect.\n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.\n' + jqXHR.responseText);
                        }
                        console.log('error');
                    }
                });

                return false;

            });

            //FUNCION BOTON ATRAS
            $('.btn-atras').on('click', function() {

                var orchard_services = [];
                initSave(orchard_services);

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/orchard/create/insert/checkbox/{{ orchard.id }}/OrchardService',
                    data: {
                        'OrchardService': orchard_services
                    },
                    success: function() {
                        saveAnimation();
                        window.location.href = '/orchard/create/step/31/{{ orchard.id }}';
                    }
                });

            });

            //FUNCION BOTON GUARDAR Y SALIR
            $('#btn-save-exit').on('click', function() {

                var orchard_services = [];
                initSave(orchard_services);

                $.ajax({
                    type: 'POST',
                    url: '/orchard/create/insert/checkbox/{{ orchard.id }}/OrchardService',
                    data: {
                        'OrchardService': orchard_services
                    },
                    success: function(data) {
                        saveAnimation();
                        console.log('success');
                        window.location.href = '/orchard/create/steps/{{ orchard.id }}';
                    },
                    error: function(jqXHR, exception) {
                        saveAnimation();
                        if (jqXHR.status === 0) {
                            alert('Not connect.\n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.\n' + jqXHR.responseText);
                        }
                        console.log('error');
                    }
                });

                return false;

            });

            function initSave(orchard_services) {
                $("#loading, #loading-text").fadeIn("slow");
                $(':checkbox:not(#cb-new-service):checked').each(function() {
                    console.log($(this).attr('id'));
                    orchard_services.push($(this).attr('id'));
                });
            }

            function saveAnimation() {
                $("#loading, #loading-text").fadeOut("slow", function() {
                    $("#loading-text").text("Guardado").fadeIn('slow');
                });
            }

            //FUNCIÓN QUE COMPRUEBA SI SE INSERTAN REGISTROS
            $(':checkbox:not(#cb-new-service)').change(function() {
                var checkeado = false;
                if (this.checked) {
                    $('.btn-siguiente').html('Siguiente')
                } else {
                    if ($(':checkbox').each(function() {
                        if (this.checked) {
                            checkeado = true;
                        }
                    }))
                    ;

                    if (!checkeado) {
                        $('.btn-siguiente').html('{{ 'orchard.step21.nowNo'|trans }}');
                    }
                }
            });

            $(':checkbox:not(#cb-new-service)').each(function() {
                if (this.checked) {
                    console.log('checkeado');
                    $('.btn-siguiente').html('{{ 'orchard.step11.next'|trans }}')
                }
            });

            initSuggest();

            function initSuggest() {
                //FUNCION PARA MOSTRAR/OCULTAR INPUT SUGERENCIA
                $('#cb-new-service').click(function() {
                    this.checked
                        ? $('#Service').removeAttr('hidden')
                        : $('#Service').attr('hidden', 'hidden');
                    this.checked
                        ? $('#btn-enviar').removeAttr('hidden')
                        : $('#btn-enviar').attr('hidden', 'hidden');
                });

                //borramos los handlers del onclick para evitar que se clike varias veces añade gestion de AJAX al boton enviar al entrar a la pagina por si el campo tipo ya estaba rellenado anteriormente
                prepareSend();

                //borramos los handlers del onclick para evitar que se clike varias veces añade gestion de AJAX al boton enviar cada vez que se escriba en el campo de tipo
                $('#Service').keyup(function() {
                    prepareSend();
                });
            }

            function prepareSend() {
                $('#btn-enviar').off('click');
                $('#btn-enviar').on('click', function() {
                    if ($('#Service').val()) {
                        $.ajax({
                            type: 'POST',
                            url: '/orchard/suggest/send/orchard_service/' + $('#Service').val(),
                            success: function(data) {
                                console.log('success');
                                $('#myModal').modal('show');
                            },
                            error: function(jqXHR, exception) {
                                if (jqXHR.status === 0) {
                                    alert('Not connect.\n Verify Network.');
                                } else if (jqXHR.status == 404) {
                                    alert('Requested page not found. [404]');
                                } else if (jqXHR.status == 500) {
                                    alert('Internal Server Error [500].');
                                } else if (exception === 'parsererror') {
                                    alert('Requested JSON parse failed.');
                                } else if (exception === 'timeout') {
                                    alert('Time out error.');
                                } else if (exception === 'abort') {
                                    alert('Ajax request aborted.');
                                } else {
                                    alert('Uncaught Error.\n' + jqXHR.responseText);
                                }
                                console.log('error');
                            }
                        });
                    }
                    return false;
                });
            }

        });
    </script>
{% endblock %}
