{% extends '::step_base.html.twig' %}

{% block stylesheets %}
<!-- css step 2.4 carga pdf-->
<link rel="stylesheet" type="text/css" href="{{ asset('/css/set4.css') }}" />
{% endblock %}
{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
		<form>
			<div class="form-group steps-left-12 col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<label><h4>{{ 'orchard.step23.title'|trans }}</h4></label><br>
				<h5>{{ 'orchard.step23.title-2'|trans }}</h5>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clone-inside">
						<!--base para copiar-->
						<li class="base" style="display: none;">
							<br>
							<textarea rows="4" cols="50" class="form-control" id="inscription-step" maxlength="200"></textarea>
							<div class="text-xs-right">
								<u class="remove">{{ 'orchard.step23.delete'|trans }}</u>
							</div>
							<br>
						</li>
						<!--base para copiar-->

						{% if orchard.orchardInscriptionStep is not empty %}
						{% for inscriptionStep in orchard.orchardInscriptionStep %}
						<ol class="inscription_steps">
							<li>
								<br>
								<textarea rows="4" cols="50" class="form-control" id="{{ inscriptionStep.id }}" maxlength="200">{{ inscriptionStep.text }}</textarea>
								<div class="text-xs-right">
									<u class="remove">{{ 'orchard.step23.delete'|trans }}</u>
								</div>
								<br>
							</li>
							<!--	AQUI ABAJO SE IRÁN AÑADIENDO LOS INPUTS...-->


						</ol>
						{% endfor %}
						{% else %}
						<ol class="inscription_steps">

						</ol>
						{% endif %}

					</div>
				</div>
				<div class="add">{{ 'orchard.step23.add'|trans }} <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></div>
				<br><br>

				<div class="hidden-md-up not-visible pull-right" data-toggle="modal" data-target="#myModal">¿Quieres ver un ejemplo?</div>

			</div>

			<input type="text" id="Step" hidden="hidden" value="31">

		</form>

		<div class="fixed-buttons">
			<button id="btn-atras" type="button" class="btn btn-secondary col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ 'orchard.step11.back'|trans }}</button>
			<button id="btn-siguiente" type="submit" class="btn btn-primary col-xs-6 col-sm-6 col-md-6 col-lg-6">{{ 'orchard.step11.next'|trans }}</button>
		</div>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 steps-right" style="padding: 150px;">

		<h4>{{ 'orchard.step23.title-right'|trans }}</h4> <br><br>

		<h5>{{ 'orchard.step23.title-right-2'|trans }}</h5>

	</div>

</form>
</div>

<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>Paso 1: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
				<p>Paso 2: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
				<p>Paso 3: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
				<p>Paso 4: Hacerse socio de la AAVV de Patraix en www.asociacionvecinospatraix.es</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<!--modal-->
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

$(function() {

	$('#progressbar').val(localStorage.getItem('lastProgress')).animate({'value': 100 + '%','aria-valuenow': 100}, {duration: 400, easing: 'linear'});

	//NUEVO PASO
	$('.add').click(function() {
		$( ".base" ).clone().removeAttr( "class style" ).appendTo( ".inscription_steps" );
		$("u.remove").on( "click", function() {
			$(this).parent().parent().remove();
		});
	});

	//ELIMINAR PASO
	$("u.remove").on( "click", function() {
		$(this).parent().parent().remove();
	});

	//FUNCION BOTON SIGUIENTE
	$('#btn-siguiente').on('click', function() {

			var inscription_steps = [];
			initSave(inscription_steps);

			$.ajax({
				type: 'POST',
				url: '/orchard/create/insert/custom/{{ orchard.id }}',
				data: { 'OrchardInscriptionStep': inscription_steps },
				success: function(data) {
					saveAnimation();
					console.log('success');
					window.location.href = '/orchard/create/step/' + data.redirect + '/{{ orchard.id }}';
				},
				error: function(jqXHR, exception) {
					saveAnimation();
					if (jqXHR.status === 0) {
						alert('Not connect.\n Verify Network.');
					} else if (jqXHR.status == 404) {
						alert('Requested page not found. [404]');
					} else if (jqXHR.status == 500) {
						alert('Internal Server Error [500].');
					} else if (exception === 'parsererror') {
						alert('Requested JSON parse failed.');
					} else if (exception === 'timeout') {
						alert('Time out error.');
					} else if (exception === 'abort') {
						alert('Ajax request aborted.');
					} else {
						alert('Uncaught Error.\n' + jqXHR.responseText);
					}
					console.log('error');
				}
			});

			return false;

	});

	//FUNCION BOTON ATRAS
	$('#btn-atras').on('click', function() {

			var inscription_steps = [];
			initSave(inscription_steps);

			$.ajax({
				type: 'POST',
				dataType: 'json',
				url: '/orchard/create/insert/custom/{{ orchard.id }}',
				data: { 'OrchardInscriptionStep': inscription_steps },
				success: function() {
					saveAnimation();
					window.location.href = '/orchard/create/step/22/{{ orchard.id }}';
				}
			});

	});

	//FUNCION BOTON GUARDAR Y SALIR
	$('#btn-save-exit').on('click', function() {

			var inscription_steps = [];
			initSave(inscription_steps);

			$.ajax({
				type: 'POST',
				url: '/orchard/create/insert/custom/{{ orchard.id }}',
				data: { 'OrchardInscriptionStep': inscription_steps },
				success: function(data) {
					saveAnimation();
					console.log('success');
					window.location.href = '/orchard/create/steps/{{ orchard.id }}';
				},
				error: function(jqXHR, exception) {
					saveAnimation();
					if (jqXHR.status === 0) {
						alert('Not connect.\n Verify Network.');
					} else if (jqXHR.status == 404) {
						alert('Requested page not found. [404]');
					} else if (jqXHR.status == 500) {
						alert('Internal Server Error [500].');
					} else if (exception === 'parsererror') {
						alert('Requested JSON parse failed.');
					} else if (exception === 'timeout') {
						alert('Time out error.');
					} else if (exception === 'abort') {
						alert('Ajax request aborted.');
					} else {
						alert('Uncaught Error.\n' + jqXHR.responseText);
					}
					console.log('error');
				}
			});

			return false;

	});

	function initSave(inscription_steps) {
		$("#loading, #loading-text").fadeIn("slow");
		$('textarea').each(function(){
			console.log($(this).val());
			if($(this).val()) {
				inscription_steps.push($(this).val());
			}
		});
		console.log('inscription_steps', inscription_steps);
	}

	function saveAnimation() {
		$("#loading, #loading-text").fadeOut("slow", function() {
			$("#loading-text").text("Guardado").fadeIn('slow');
		});
	}

});
</script>
{% endblock %}
